dl, h3, menu, ol, p, pre, ul {margin: 1em 0;}
hr, img, legend {border: 0;}
fieldset, figure, form, h1 {margin: 0;}
fieldset, hr, legend {padding: 0;}
.hidden, .invisible {visibility: hidden;}
.flex-container a:focus, .flex-container a:hover, .flex-slider a:focus, .flex-slider a:hover, .info-btn-1, a:active, a:focus, a:hover, div, div:focus, img {outline: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
audio, canvas, video {display: inline-block;}
audio:not([controls]) {display: none;height: 0;}
[hidden] {display: none;}
button, html, input, select, textarea {font-family: sans-serif;color: #ddd;}
button, input {background: #000;border: 2px solid #666;line-height: normal;}
a, button, h1, h2, h3, h4, h5, h6, input, p, select, textarea {font-smooth: always;text-rendering: optimizeLegibility !important;-webkit-font-smoothing: antialiased !important;text-shadow: 0 0 1px rgba(255,255,255,.2);}
h1 {font-size: 1.75em;text-shadow: 0 -2px 2px #000;}
.language-fr h1, h2 {font-size: 1.5em;}
h2 {text-transform: uppercase;margin: 0 0 .83em;}
h3 {font-size: 1.17em;}
h4 {font-size: .95em;margin: 1.33em 0;}
h5 {font-size: .83em;margin: 1.67em 0;}
h6 {font-size: .67em;font-weight: 400;margin: 2.33em 0;}
h1, h2, h3, h4, h5, h6 {line-height: 1em;}
abbr[title] {border-bottom: 1px dotted;}
b, strong {font-weight: 700;}
blockquote {margin: 1em 40px;}
dfn {font-style: italic;}
hr {-moz-box-sizing: content-box;box-sizing: content-box;display: block;height: 1px;border-top: 1px solid #ccc;margin: 1.6em 0;}
mark {background: #ff0;color: #000;}
code, kbd, pre, samp {font-family: monospace,serif;font-size: 1em;}
pre {white-space: pre;white-space: pre-wrap;word-wrap: break-word;}
q {quotes: none;}
q:after, q:before {content: "";content: none;}
small {font-size: 80%;}
sub, sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup {top: -.5em;}
sub {bottom: -.25em;}
dd {margin: 0 0 0 40px;}
menu, ol, ul {padding: 0 0 0 40px;}
nav ol, nav ul {list-style: none;}
img {-ms-interpolation-mode: bicubic;}
svg:not(:root) {overflow: hidden;}
legend {white-space: normal;}
button, input, select, textarea {font-size: 100%;margin: 0;vertical-align: baseline;}
button, select {text-transform: none;}
button, html input[type=button], input[type=reset], input[type=submit] {-webkit-appearance: button;cursor: pointer;}
button[disabled], html input[disabled] {cursor: default;}
input[type=checkbox], input[type=radio] {box-sizing: border-box;padding: 0;}
input[type=search] {-webkit-appearance: textfield;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;box-sizing: content-box;}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {-webkit-appearance: none;}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0;padding: 0;}
textarea {overflow: auto;vertical-align: top;resize: vertical;}
.ir, .visuallyhidden {border: 0;overflow: hidden;}
table {border-collapse: collapse;border-spacing: 0;}
html {-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-size: 1em;line-height: 1.4em;}
::-moz-selection {background: #b3d4fc;text-shadow: none;}
::selection {background: #b3d4fc;text-shadow: none;}
audio, canvas, img, video {vertical-align: middle;}
fieldset {border: 0;}
.browsehappy {margin: .2em 0;background: #ccc;color: #000;padding: .2em 0;}
.ir {background-color: transparent;}
.ir:before {content: "";display: block;width: 0;height: 150%;}
.hidden {display: none !important;}
.visuallyhidden {clip: rect(0 0 0 0);height: 1px;margin: -1px;padding: 0;position: absolute;width: 1px;}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {clip: auto;height: auto;margin: 0;overflow: visible;position: static;width: auto;}
.clearfix:after, .clearfix:before {content: " ";display: table;}
.clearfix:after {clear: both;}
@media print {blockquote, img, pre, tr {page-break-inside: avoid;}
	* {background: 0 0 !important;color: #000 !important;box-shadow: none !important;text-shadow: none !important;}
	a, a:visited {text-decoration: underline;}
	a[href]:after {content: " (" attr(href) ")";}
	abbr[title]:after {content: " (" attr(title) ")";}
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {content: "";}
	blockquote, pre {border: 1px solid #999;}
	thead {display: table-header-group;}
	img {max-width: 100% !important;}
	@page {margin: .5cm;}
	h2, h3, p {orphans: 3;widows: 3;}
	h2, h3 {page-break-after: avoid;}}
.anchor-desc:after, .anchor:before, .pack-list>ul li:before {content: "";}
.screen-reader-text {clip: rect(1px,1px,1px,1px);position: absolute !important;}
.screen-reader-text:focus {background-color: #f1f1f1;border-radius: 3px;box-shadow: 0 0 2px 2px rgba(0,0,0,.6);clip: auto !important;color: #21759b;display: block;font-size: 14px;font-weight: 700;height: auto;line-height: normal;padding: 15px 23px 14px;position: absolute;left: 5px;top: 5px;text-decoration: none;width: auto;z-index: 100000;}
.fancybox-image, .fancybox-inner, .fancybox-nav, .fancybox-nav span, .fancybox-outer, .fancybox-skin, .fancybox-tmp, .fancybox-wrap, .fancybox-wrap iframe, .fancybox-wrap object {padding: 0;margin: 0;border: 0;outline: 0;vertical-align: top;}
.fancybox-opened .fancybox-skin, .featureItem img {border-bottom: 4px solid #ff6207;}
.fancybox-wrap {position: absolute;top: 0;left: 0;z-index: 8020;}
.fancybox-inner, .fancybox-outer, .fancybox-skin {position: relative;}
.fancybox-skin {background: #f9f9f9;color: #444;text-shadow: none;}
.fancybox-opened {z-index: 8030;}
.fancybox-inner {overflow: hidden;}
.fancybox-type-iframe .fancybox-inner {-webkit-overflow-scrolling: touch;}
.fancybox-error {color: #444;font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin: 0;padding: 15px;white-space: nowrap;}
.fancybox-iframe, .fancybox-image {display: block;width: 100%;height: 100%;}
.fancybox-image {max-width: 100%;max-height: 100%;}
#fancybox-loading, .fancybox-close, .fancybox-next span, .fancybox-prev span {background-image: url("//webcdn.triongames.com/images/common/fancybox/fancybox_sprite.png");}
#fancybox-loading {position: fixed;top: 50%;left: 50%;margin-top: -22px;margin-left: -22px;background-position: 0 -108px;opacity: .8;cursor: pointer;z-index: 8060;}
.fancybox-close, .fancybox-nav, .fancybox-nav span {cursor: pointer;z-index: 8040;position: absolute;}
#fancybox-loading div {width: 44px;height: 44px;background: url("//webcdn.triongames.com/images/common/fancybox/fancybox_loading.gif") center center no-repeat;}
.fancybox-close {top: -18px;right: -18px;width: 36px;height: 36px;}
.fancybox-nav {top: 0;width: 40%;height: 100%;text-decoration: none;background: url("//webcdn.triongames.com/images/common/fancybox/blank.gif");-webkit-tap-highlight-color: transparent;}
.fancybox-prev {left: 0;}
.fancybox-next {right: 0;}
.fancybox-nav span {top: 50%;width: 36px;height: 34px;margin-top: -18px;visibility: hidden;}
.fancybox-prev span {left: 10px;background-position: 0 -36px;}
.fancybox-next span {right: 10px;background-position: 0 -72px;}
.fancybox-nav:hover span {visibility: visible;}
.fancybox-tmp {position: absolute;top: -99999px;left: -99999px;visibility: hidden;max-width: 99999px;max-height: 99999px;overflow: visible !important;}
.fancybox-lock, .fancybox-lock body {overflow: hidden !important;}
.fancybox-lock {width: auto;}
.fancybox-lock-test {overflow-y: hidden !important;}
.fancybox-overlay {position: absolute;top: 0;left: 0;overflow: hidden;display: none;z-index: 8010;background: url("//webcdn.triongames.com/images/common/fancybox/fancybox_overlay.png");}
.fancybox-overlay-fixed {position: fixed;bottom: 0;right: 0;}
.fancybox-lock .fancybox-overlay {overflow: auto;overflow-y: scroll;}
#content, #nav, #secondary, .row, footer {overflow: hidden;}
.fancybox-title {visibility: hidden;font: 400 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position: relative;text-shadow: none;z-index: 8050;}
.fancybox-opened .fancybox-title {visibility: visible;}
.fancybox-title-float-wrap {position: absolute;bottom: 0;right: 50%;margin-bottom: -35px;z-index: 8050;text-align: center;}
.fancybox-title-float-wrap .child {display: inline-block;margin-right: -100%;padding: 2px 20px;background: 0 0;background: rgba(0,0,0,.8);-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;text-shadow: 0 1px 2px #222;color: #fff;font-weight: 700;line-height: 24px;white-space: nowrap;}
.fancybox-title-outside-wrap {position: relative;margin-top: 10px;color: #fff;}
.fancybox-title-inside-wrap {padding-top: 10px;}
.fancybox-title-over-wrap {position: absolute;bottom: 0;left: 0;color: #fff;padding: 10px;background: #000;background: rgba(0,0,0,.8);}
.fancybox-opened .fancybox-skin {background: #1b1b1b;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
.fancybox-skin {-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
.one_half {width: 49% !important;}
.one_third {width: 32% !important;}
.two_third {width: 66% !important;}
.one_fourth {width: 23.5% !important;}
.three_fourth {width: 74.5% !important;}
.one_fifth {width: 18.4% !important;}
.two_fifth {width: 38.8% !important;}
.three_fifth {width: 59.2% !important;}
.four_fifth {width: 79.6% !important;}
.one_sixth {width: 15% !important;}
.four_fifth, .one_fifth, .one_fourth, .one_half, .one_sixth, .one_third, .three_fifth, .three_fourth, .two_fifth, .two_third {margin-right: 2% !important;}
.four_fifth.last_column, .one_fifth.last_column, .one_fourth.last_column, .one_half.last_column, .one_sixth.last_column, .one_third.last_column, .three_fifth.last_column, .three_fourth.last_column, .two_fifth.last_column, .two_third.last_column {margin-right: 0 !important;}
body, p {font-family: Verdana,Arial,sans-serif;font-weight: 400;}
hr {overflow: visible;}
em.noitalic {font-style: normal;}
#header .g1, #header .g10, #header .g11, #header .g12, #header .g13, #header .g14, #header .g15, #header .g16, #header .g2, #header .g3, #header .g4, #header .g5, #header .g6, #header .g7, #header .g8, #header .g9 {background: 0 0;}
#footer nav ul {padding: 0;}
.featureItem {position: relative;margin-bottom: 4%;}
.featureItem span img {border-bottom: none;}
#content ul.media li img, .feature-img img, .video-link img {border-bottom: 4px solid #ff6207;}
.featureItem .captionWrap {position: absolute;bottom: 10%;left: 5%;pointer-events: none;}
.featureItem a .captionWrap, .featureItem a:hover .captionWrap {color: #fff;}
.featureItem a:hover {text-decoration: none;}
.featureItem .captionWrap span {margin: 0;float: left;clear: both;padding: 3px 6px 6px;font-size: 1.5em;background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDdmN2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");background: -moz-linear-gradient(top,rgba(0,232,232,1) 0,rgba(0,127,127,1) 100%);background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,232,232,1)),color-stop(100%,rgba(0,127,127,1)));background: -webkit-linear-gradient(top,rgba(0,232,232,1) 0,rgba(0,127,127,1) 100%);background: -o-linear-gradient(top,rgba(0,232,232,1) 0,rgba(0,127,127,1) 100%);background: -ms-linear-gradient(top,rgba(0,232,232,1) 0,rgba(0,127,127,1) 100%);background: linear-gradient(to bottom,rgba(0,232,232,1) 0,rgba(0,127,127,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00e8e8",endColorstr="#007f7f",GradientType=0);}
.featureItem .captionWrap em {margin: 0;float: left;clear: both;font-style: normal;padding: 5px 6px;background: #000;font-size: 1.5em;}
.community .featureItem {float: left;margin: 1%;position: relative;width: 18%;}
.patronDetails .patronItem {clear: both;overflow: hidden;padding-bottom: 1em;}
.patronDetails .patronItem img {float: left;}
.patronDetails .patronItem p {text-align: left;margin: 0 0 0 80px;}
#content ul.media {list-style: none;margin: 0;padding: 0;}
#content ul.media p.title {font-size: .9em;margin: .5em 0;}
#content ul.media li {float: none;padding: 0 1.497% 2%;display: inline-block;vertical-align: top;height: auto;width: 16%;}
#content ul.media li.thumb .play-btn {padding: 12.9% 38.9%;}
#content ul.media li img {width: 190px;}
.feature-img, .video-link {position: relative;display: block;}
.video-link .play-btn {position: absolute;top: 0;left: 0;opacity: .8;}
.video-link .play-btn:hover {opacity: .9;}
.video-link .play-btn img {border: none;}
#content ul.media li .video-link .play-btn img, .video-link .play-btn img {border: none;width: 100%;}
.sitemap ul {list-style: none;margin: 0;padding-left: 1em;}
.sitemap ul li {padding: .5em 0;margin-right: 2.7em;}
.sitemap ul li a, a.morelink {color: #fff;text-transform: uppercase;font-family: gothambook;}
.sitemap ul li a:hover, a.morelink:hover {text-decoration: none;box-shadow: inset 0 0 0 #fff,inset 0 -4px 0 #ff6207;}
.sitemap ul li a span, .sitemap ul li a:hover span, a.morelink span, a.morelink:hover span {text-decoration: none;color: #ff6207;border-bottom: 0;left: 1.6em;margin-left: -2.3em;position: relative;font-family: gothambold;font-size: 120%;line-height: 0;top: 1px;padding-left: 1em;}
.nav-links {list-style: none;margin: 0;padding-left: 1em;padding-right: 1em;}
.single .nav-links a:last-child {margin-left: 1em;float: right;}
.nav-links .nav-next, .nav-links .nav-previous {padding: 0 4.5% 0 3.2%;width: 40%;}
.nav-links .nav-next a span, .nav-links .nav-previous a span {border-bottom: 0;position: relative;font-family: gothambold;font-size: 150%;line-height: 0;top: 3px;padding-left: 1em;text-decoration: none;}
.nav-links .nav-previous {float: left;text-align: left;}
.nav-links .nav-next {float: right;text-align: right;}
.nav-links .nav-previous a {color: #fff;text-transform: uppercase;}
.nav-links .nav-next a span, .nav-links .nav-previous a span {color: #ff6207;margin-left: -2.3em;}
.nav-links .nav-previous a span {left: -.4em;}
.nav-links .nav-next a {color: #fff;text-transform: uppercase;}
.nav-links .nav-next a span {color: #ff6207;left: 1.6em;margin-left: -2.2em;}
.nav-links .nav-next a:hover, .nav-links .nav-previous a:hover {text-decoration: none;color: #fff;border-bottom: 4px solid #ff6207;}
a.morelink {margin-left: 1.4%;}
.left {float: left;}
.right {float: right;}
.anchor, .anchor-desc--img, .anchor-wrapper, [class$=pack--info]>*, [class*=cols]>* {float: left;}
.center {text-align: center;}
body, h1.logo {margin: 0;}
.cookie-compliance-container {background: #333;border-bottom: 1px solid #fff;top: -150px;opacity: 0;position: fixed;width: 100%;z-index: 9999;}
.anchor, .anchor-desc--img, [class^=starter-pack--type]>div {background-size: cover;background-position: center center;}
.cookie-compliance-container.drop-in {top: 0;opacity: 1;transition: all .5s ease-in .5s;}
.cookie-compliance-container .cookie-compliance-message {max-width: 960px;margin: 0 auto;position: relative;padding: 15px;}
.cookie-compliance-container .cookie-compliance-message p {color: #999;width: 100%;font-size: 12px;line-height: 17px;margin: 0;}
.cookie-compliance-container .cookie-compliance-message p a {color: #fff;text-decoration: underline;}
.cookie-compliance-container .cookie-compliance-message #hide-cookie-compliance {margin-top: 10px;padding: 8px 12px;font: 700 14px arial,sans-serif;text-transform: uppercase;background-color: #ccc;color: #333;}
#slider .hslide_box .hslide_copy, #slider .hslide_box .hslide_cta a, #slider .hslide_box .hslide_header {font-family: Cinzel,serif;}
.c12 .entry-content img {-webkit-box-shadow: 0 1px 4px 2px #1b1b1b;box-shadow: 0 1px 4px 2px #1b1b1b;border-bottom: 4px solid #ff6207;}
.c12 .entry-content span img {border-bottom: none;}
.c12 .entry-content .captionWrap img, .c12 .entry-content .play-btn img, .c12 .entry-content img img {-webkit-box-shadow: none;box-shadow: none;border-bottom: 0;}
.entry-content img.noborder {border: 0;box-shadow: none;}
.blog-tags {font-size: .85em;display: none;}
.sidebar-container {margin-top: .7%;}
.sidebar-container aside {margin-bottom: 1em;text-align: right;}
.sidebar-container aside img img {border-bottom: none;}
.box {border-bottom: 4px solid #ff6207;-webkit-box-shadow: 0 1px 4px 2px #1b1b1b;box-shadow: 0 1px 4px 2px #1b1b1b;}
body[class*=store] #content * {box-sizing: border-box;-moz-box-sizing: border-box;}
body[class*=store].language-de #content .item-special--desc {font-size: 86%;}
body[class*=store] em {margin: 0 !important;}
body[class*=store] .entry-content ul li:not([body[class*=store] [class^=cols-] li]) {font-weight: 400;margin-bottom: 0;}
body[class*=store] .entry-content ul {padding: 0;}
body[class*=store] a:not([href*=faq]) {text-decoration: none;}
body[class*=store] #content {padding: 0 15px;}
.sect-title {font-size: 50px;line-height: 50px;width: 100%;background-repeat: repeat-x;margin: 0 0 35px;position: relative;padding: 70px 0 25px;}
.anchor, .anchor-desc--img, .cta, .cta span:before, .cta:after, .cta:before {background-repeat: no-repeat;}
.anchor-header+.sect-title {margin: 90px 0 35px;}
.revealed {display: block !important;}
.sect-title+.sect-info {margin-top: -15px;}
.item-list, .pack-list>ul li, .starter-pack--info li {list-style-type: none;}
.item-list li span, .pack-list>ul li span {display: table-cell;vertical-align: middle;}
.starter-pack--info span.sale {text-decoration: line-through;font-size: .8em;color: red;margin-right: 6px;}
#patron a:hover, .anchor:hover, .cta, [class^=info-btn]:hover {text-decoration: none;}
.entry-content .cols-4>* {width: 23.125%;margin-right: 2.469%;margin-bottom: 2.469%;}
.entry-content .cols-3>* {width: 31.55%;margin-right: 2.65%;margin-bottom: 2.65%;}
.entry-content .cols-2>* {width: 48.81%;margin-right: 2.362%;margin-bottom: 2.362%;}
.entry-content .cols-1>* {width: 100%;margin-bottom: 2.362%;}
.entry-content .cols-2>:nth-child(2n+2), .entry-content .cols-3>:nth-child(3n+3), .entry-content .cols-4>:nth-child(4n+4), [class*=cols]>:last-child {margin-right: 0;}
.anchor-desc {transition: opacity .2s ease-in;}
#alt-pack p, #patron a, [class*=info-btn] {transition: .2s ease-out;}
.anchor-header {width: 100%;height: inherit;margin: 50px 0 0;padding: 0 0 10px;}
.anchor {height: 80px;display: table;position: relative;}
.anchor:before {width: 100%;height: inherit;display: block;position: absolute;top: 0;left: 0;}
.anchor:hover>span:nth-of-type(2), .anchor>span {display: table-cell;}
.anchor:hover .anchor-desc {opacity: 1;visibility: visible;top: 75px;}
.anchor-desc, .sect-title span {visibility: hidden;position: absolute;}
.anchor>span {position: relative;z-index: 1;vertical-align: middle;width: 100%;height: inherit;text-align: center;padding: 12px;text-transform: uppercase;}
.anchor-desc {width: 480px;height: auto;overflow: visible;margin: 25px 0 0;left: 0;top: 55px;z-index: 1;padding: 14px;opacity: 0;}
.anchor-desc:after {width: 10px;height: 10px;position: absolute;top: -6px;left: 40px;transform: rotate(45deg);-webkit-transform: rotate(45deg);border-right: transparent !important;border-bottom: transparent !important;z-index: 2;}
.anchor-desc--img {width: 170px;height: 185px;margin: 0 15px 0 0;}
.anchor-desc--blurb, .anchor-desc--title {width: 265px;}
.anchor-desc--title {margin: 0;padding: 0;font-size: 22px;line-height: 23px;text-transform: uppercase;}
.anchor-desc--blurb {margin: 10px 0 0;text-transform: none;}
#alt-pack .info-btn-2, .cta, [class^=starter-pack--type] div * {text-transform: uppercase;}
.anchor:nth-child(n+3) .anchor-desc {left: calc(100% - 480px);}
.anchor:nth-child(n+3) .anchor-desc:after {left: calc(100% - 50px);}
.anchor:nth-child(n+3):after {left: calc(100% - 52px);}
.sect-title span {top: 30px;opacity: 0;width: 5px !important;}
#alt-pack, #patron, .item-list, .starter-list, .starter-pack {width: 100%;height: inherit;overflow: hidden;}
.pack-list>div {display: none;}
[class^=starter-pack--type] {margin-bottom: 0 !important;}
.pack-list, [class^=starter-pack--type] {float: left;position: relative;}
[class^=starter-pack--type]:after {content: "";width: 100%;height: 1000px;display: block;position: absolute;top: 0;left: 0;z-index: -1;}
[class^=starter-pack--type]>div {width: 100%;height: 0;background-repeat: no-repeat;position: relative;padding-bottom: 65%;}
.cta, .cta span:before {background-position: center 0;}
.starter-pack p {display: none;}
.starter-pack:hover .info-btn-1 {opacity: 1;}
.pack-list>ul {margin: 0;padding: 0;}
.pack-list>ul li {position: relative;margin-bottom: 0 !important;}
.pack-list>ul li span {width: 100%;height: inherit;padding: 0 0 0 48px;position: relative;}
.pack-list>ul li:before {position: absolute;left: 0;top: 50%;display: block;}
.cta, .cta span {position: relative;text-align: center;}
.cta {width: 100%;height: 100px;display: table;}
.cta span {z-index: 1;width: inherit;height: inherit;top: 0;font-size: 20px;padding: 0 15px;display: table-cell;vertical-align: middle;}
.cta span:before, .cta:after, .cta:before {height: 100px;position: absolute;top: 0;content: "";}
.cta span:before {width: calc(100% - 198px);display: block;left: 99px;z-index: -1;}
.cta:hover span:before {background-position: center -100px;}
.cta:active span:before {background-position: center -200px;}
.cta.disabled span:before {background-position: center -300px;}
.cta.disabled:hover {cursor: not-allowed;}
.cta:after, .cta:before {width: 100px;}
.cta:after {left: 0;background-position: 0 0;}
.cta:before {right: 0;background-position: -700px 0;}
.cta:hover:after {left: 0;background-position: 0 -100px;}
.cta:hover:before {right: 0;background-position: -700px -100px;}
.cta:active:after {left: 0;background-position: 0 -200px;}
.cta:active:before {right: 0;background-position: -700px -200px;}
.cta.disabled:after {left: 0;background-position: 0 -300px;}
.cta.disabled:before {right: 0;background-position: -700px -300px;}
.alt-pack--item, .item-list li:before {background-position: center center;background-size: cover;background-repeat: no-repeat;}
.alt-pack--item {height: 0;padding-bottom: 30%;position: relative;}
.alt-pack--info {padding: 0 4px;}
.alt-pack--info .info-btn-2 {position: relative;top: 8px;right: 12px;}
.alt-pack--item p {position: absolute;width: 100%;padding: 14px;bottom: 60px;opacity: 0;text-transform: none;}
.alt-pack--item p:after {content: "";display: block;position: absolute;bottom: 0;left: 0;width: 100%;}
[class$=pack--info] {width: 100%;height: 76px;position: absolute;bottom: 0;}
[class$=pack--info] h3, [class$=pack--info] h5 {width: calc(100% - 20px);}
.starter-pack--info h3 {font-size: 30px;line-height: 34px;margin-bottom: -8px;}
body[class*=store] .pack--info-L {width: 60%;}
.pack--info-L * {position: relative;margin: 10px 0 0 10px;}
body[class*=store] .pack--info-L sup {position: relative;font-size: 55%;top: -10px;margin: 0;}
[class^=info-btn] {float: right;right: 9px;position: absolute;}
body[class*=store] .pack--info-R {margin: 12px 0 0;width: 40%;}
.info-btn-1 {padding: 5px 6px;opacity: 0;}
.alt-pack--item:hover p {opacity: 1;}
.info-btn-2 {top: 41px;}
.alt-pack--item:hover .info-btn-1 {display: block;}
.item-list {margin: 0;padding: 0;}
.item-list li {float: left;position: relative;}
.item-list li:before {content: "";display: block;width: 70px;height: 70px;position: absolute;}
.item-list.align-middle li:before {top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);}
.item-list.align-middle span {position: absolute;transform: translateY(-50%);-webkit-transform: translateY(-50%);top: 50%;width: calc(100% - 120px);}
#carousel, #header, #patron a, #patron a *, #slider, .item-special--type, .item-special--type>* {position: relative;}
.item-list.align-top span {display: block;vertical-align: inherit;height: auto !important;}
.item-list strong {display: block;}
#item-special {height: inherit;overflow: hidden;}
.cont-alt .item-special--type:nth-of-type(odd), .cont-right .item-special--type {background-position: left calc(100% - 225px) center;}
.cont-alt .item-special--type:nth-of-type(even), .cont-left .item-special--type {background-position: right calc(100% - 225px) center;}
.cont-alt .item-special--type:nth-of-type(odd) .item-special--desc, .cont-right .item-special--desc {float: right;}
#patron a, .cont-alt .item-special--type:nth-of-type(even) .item-special--desc, .cont-left .item-special--desc {float: left;}
.item-special--type>* {height: 100%;}
.item-special--type {height: inherit;background-size: cover;background-repeat: no-repeat;}
.item-special--type .cta {bottom: -8px;position: relative;width: 100%;}
.item-special--type h5 {font-weight: 700;font-size: 22px;margin: 20px 0;}
.item-special--desc {width: 450px;padding: 8px 25px 25px;}
#patron {margin: 0;}
#patron a {margin-top: calc(2.469% + 22px);}
#patron a:before {content: "";width: 100%;height: 100%;display: block;position: absolute;}
footer .row ul li, footer .wrap ul li {display: inline;}
#patron a * {transition: .1s ease;text-align: center;}
.patron-amount {margin: -10px auto 0;width: 85%;}
.patron-payment sup {top: -22px;font-size: 60%;}
.patron-value sup {top: -3px;}
.patron-period {font-size: 15px;text-transform: uppercase;letter-spacing: 5px;margin: -2px 0 -25px;font-weight: 700;}
.patron-cta {width: 100%;margin: 40px auto 0;padding: 35px 0 0;}
.patron-cta p {margin: 0;width: 80%;padding: 15px;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);top: 10px;left: 50%;text-transform: uppercase;}
#patron a .patron-payment.sale, .patron-value span.sale {text-decoration: line-through;font-size: 40px;color: red;text-shadow: none;}
#patron a .patron-payment.sale {margin-bottom: 20px;margin-top: 30px;}
.patron-value span.sale {font-size: 12px;margin-right: 6px;}
footer .legal {padding-top: 1em;}
footer .copyrights, footer .corporate, footer .legal, footer .platforms, footer .ratings-brand {margin: 0 auto;text-align: center;}
footer .copyrights a, footer .corporate a, footer .platforms a, footer .ratings-brand a {margin: 0 28px;}
footer .legal li {border-right: 1px solid #435651;padding: 0 10px;}
footer .copyrights p {font-size: 12px;color: #435651;}
footer .copyrights {padding-bottom: 30px;}
footer .legal a {color: #435651;font-size: 13px;margin: 0 5px;}
footer .platforms {margin-top: 2em;}
footer a {text-decoration: none;}
footer a:hover {text-decoration: underline;}
footer .corporate ul li.last, footer .legal ul li.last {border: none;}
footer .legal #change-region {margin: 0 5px;color: #666;font-size: 13px;background: #222;border: 1px solid #333;border-radius: 3px;padding: 6px 9px;}
footer .legal #change-region:hover {cursor: pointer;text-decoration: underline;}
footer .legal #change-region span {background: url("//webcdn.triongames.com/eon/website/images/region-arrows.png") 100% 4px no-repeat #222;padding-right: 14px;color: #666;}
footer .legal #change-region span.selected {color: #d1f2f9;background-position: 100% -31px;}
footer .region-selector {width: 100%;margin: 0 auto;height: 138px;padding: 1em 0 2em;text-align: center;}
footer .region-selector ul.region-selector-container {max-width: 480px;height: 106px;margin: 0 auto;}
footer .region-selector ul.region-selector-container li.column {float: left;border-right: 1px solid #404040;margin-right: 36px;padding-right: 36px;height: 132px;}
footer .region-selector ul.region-selector-container li.column.last {margin-right: 0;border: none;padding-right: 0;}
footer .region-selector ul.region-selector-container li.column h3 {font-size: 1.4em;margin-top: 0;margin-bottom: 12px;text-align: left;}
footer .region-selector ul.region-selector-container li.column ul {padding: .25em;}
footer .region-selector ul.region-selector-container li.column ul li {display: block;float: none;margin: 3px 0;text-align: left;}
#nav .search-form, .nav-menu ul.children {display: none;}
footer .region-selector ul.region-selector-container li.column ul li a, footer .region-selector ul.region-selector-container li.column ul li a:visited {color: #fff;text-decoration: none;}
#header {margin-bottom: -55px;clear: both;height: 55px;z-index: 100;}
#content {margin-top: 1em;min-height: 860px;padding-top: 4px;}
#header a {color: #fff;text-transform: uppercase;font-size: .85em;}
#header .home-link img {padding: 4% 0 2%;width: 100%;text-align: center;}
#header #nav {overflow: visible;}
#nav .nav-menu a:hover, #nav .nav-menu li.current_page_ancestor a, #nav .nav-menu li.current_page_item a {text-decoration: none;border-bottom: 4px solid #ff6207;}
.nav-menu {width: 100%;margin-right: 1%;}
.nav-menu ul {padding: 0;margin: 0;}
.nav-menu ul li {float: left;padding: 12px 4%;min-width: 50px;text-align: center;margin: 1% 0;border-left: 1px solid #c6cece;-webkit-box-shadow: inset 1px 0 0 0 #446060;}
.language-de .nav-menu ul li, .language-fr .nav-menu ul li {padding: 12px 1%;}
h2 {color: #fff;}
#carousel, #slider {margin: 0 auto;max-width: 1200px;}
#content, #features {margin-bottom: 1em;}
#slider ul.slides {margin: 0;padding: 0;clear: both;}
#slider ul.slides li {box-shadow: 0 0 20px #000;list-style: none;margin: 0;padding: 0;}
#slider ol.flex-control-thumbs {position: static;z-index: 10000;overflow: hidden;}
#slider ol.flex-control-thumbs li {float: left;list-style: none;}
#slider .no_hslide_box {bottom: 100px;}
#slider .hslide_box {margin-left: 7%;padding: 27px 2.5em 32px;position: absolute;bottom: 100px;max-width: 40%;min-width: 41%;min-height: 115px;background: rgba(0,0,0,.7);}
#slider .hslide_box .hslide_header {display: block;font-size: 1.938em;line-height: 1em;text-transform: uppercase;font-weight: 700;color: #ebebeb;}
#slider .hslide_box .hslide_copy {display: block;font-size: 1.25em;font-weight: 700;margin-top: 13px;color: #9779f2;text-transform: uppercase;}
#slider .hslide_box .hslide_cta {display: block;font-size: 1.063em;margin-top: 27px;color: #fff;}
#slider .hslide_box .hslide_cta a {display: inline-block;font-size: 1em;color: #fff;background: #000;text-transform: uppercase;padding: 8px 2.12em 7px;border: 1px solid #000;text-decoration: none;font-weight: 700;}
#slider .hslide_box .hslide_cta a:hover {text-decoration: none;}
.flex-control-nav, .flex-direction-nav, .slides, .slides>li {margin: 0;padding: 0;list-style: none;}
.flex-pauseplay span {text-transform: capitalize;}
.flexslider .slides>li {display: none;-webkit-backface-visibility: hidden;position: relative;}
.flexslider .slides:after {content: " ";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.no-js .flexslider .slides>li:first-child {display: block;}
.flexslider {margin: 0;position: relative;zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides img {height: auto;}
.flex-control-thumbs {margin: 5px 0 0;position: static;overflow: hidden;}
.flex-control-thumbs li {width: 25%;float: left;margin: 0;}
.flex-control-thumbs img {width: 100%;height: auto;display: block;cursor: pointer;}
div.flexslider.pager {padding-top: 2em;}
div#carousel.flexslider ul.flex-direction-nav, div.flexslider.pager .flex-direction-nav {display: none;}
div#carousel.flexslider ul.flex-direction-nav .flex-nav-next, div#carousel.flexslider ul.flex-direction-nav .flex-nav-prev {display: block;}
div.flexslider .flex-direction-nav .flex-nav-next, div.flexslider .flex-direction-nav .flex-nav-prev {position: absolute;z-index: 10;width: 2.85%;top: 87%;display: table-row;}
div.flexslider .flex-direction-nav .flex-next, div.flexslider .flex-direction-nav .flex-prev {background: url("//webcdn.triongames.com/trove/img/arrows2.png") no-repeat;background-size: 200% 100%;height: 0;padding-bottom: 296.9697%;display: block;text-indent: -9999px;}
div.flexslider.main {position: relative;display: table;}
.c12 .entry-content .flexslider.main span.play-btn img {display: none;}
.slides .video-link .play-btn {padding: 18.3% 32.3%;}
ul.flex-direction-nav {display: table-row;}
ul.flex-direction-nav .flex-nav-next a.flex-disabled, ul.flex-direction-nav .flex-nav-prev a.flex-disabled {display: none;}
div#slider.flexslider ul.flex-direction-nav .flex-nav-next, div#slider.flexslider ul.flex-direction-nav .flex-nav-prev {width: 10%;max-width: 98px;}
div#slider.flexslider ul.flex-direction-nav .flex-nav-next a.flex-next, div#slider.flexslider ul.flex-direction-nav .flex-nav-prev a.flex-prev {background: url("//webcdn.triongames.com/defiance/images/arrowsprites.png") no-repeat;background-size: 198.97959% 221.25%;max-width: 98px;width: 100%;padding-bottom: 81.63265%;}
div#slider.flexslider ul.flex-direction-nav .flex-nav-next a.flex-next {background-position: 101.031% 0;}
ul.flex-direction-nav .flex-nav-prev {left: 0;}
ul.flex-direction-nav .flex-nav-next {right: 0;}
ul.flex-direction-nav .flex-nav-next .flex-next {background-position: 100% 0;}
#carousel {margin-bottom: -44px;z-index: 9;}
#carousel.flexslider .slides {width: 100% !important;margin: 0 auto;transform: none !important;-webkit-transform: none !important;text-align: center;}
#carousel.flexslider .slides>li {height: 12px;margin: 0 .1em;display: inline !important;float: none !important;}
#carousel ul.flex-direction-nav, #carousel.flexslider .slides>li a img {display: none;}
#carousel.flexslider .slides>li.flex-active-slide a, #carousel.flexslider .slides>li:hover a {-webkit-box-shadow: inset 0 0 0 2px rgba(255,100,0,1);-moz-box-shadow: inset 0 0 0 2px rgba(255,100,0,1);-o-box-shadow: inset 0 0 0 2px rgba(255,100,0,1);box-shadow: inset 0 0 0 2px rgba(255,100,0,1);}
div#carousel.flexslider .flex-viewport {top: -56px;margin: 0 auto 1em;width: 82%;}
#carousel.flexslider .slides>li a {width: 22px !important;height: 22px;background: #666;background: rgba(0,0,0,.5);cursor: pointer;text-indent: -9999px;-webkit-box-shadow: inset 0 0 0 2px rgba(255,255,255,.3);-moz-box-shadow: inset 0 0 0 2px rgba(255,255,255,.3);-o-box-shadow: inset 0 0 0 2px rgba(255,255,255,.3);box-shadow: inset 0 0 0 2px rgba(255,255,255,.3);-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;display: inline-block !important;}
#carousel.flexslider ul.slides li {margin: 0 6px 0 0;height: 98px;width: 172px !important;}
#carousel li .detail-overlay .title-overlay {background: #2b7bba;}
#carousel li .detail-overlay .learnmore-overlay {background: #50a129;}
.featureItem .captionWrap em, .featureItem .captionWrap span, .nav-links .nav-next a, .nav-links .nav-previous a, .sitemap ul li, a.morelink, h4, h5 {font-family: "Open Sans",arial,sans-serif;font-weight: 700;}
#carousel li:hover .detail-overlay {background: url("/archeage/wp-content/uploads/sites/6/2014/09/aa-header-bg1.png") rgba(0,0,0,0);width: 100%;height: 100%;display: none;}
#carousel ul li img, #carousel ul li.flex-active-slide a img, #carousel ul li:hover img {border: 1px solid #3aa8ff;}
#carousel ul li.active a:before, #carousel ul li:hover:before {-webkit-box-shadow: inset 0 -4px 0 0 #ffff36;-moz-box-shadow: inset 0 -4px 0 0 #ffff36;box-shadow: inset 0 -4px 0 0 #ffff36;}
#carousel li .detail-overlay {display: none;cursor: pointer;background-color: #000;left: 1px;opacity: .4;overflow: hidden;position: absolute;top: 1px;vertical-align: middle;}
#carousel li.active a .detail-overlay, #carousel li:hover .detail-overlay {opacity: 1;background-color: transparent;}
.topbanner {padding: 0 0 1.5em;}
.topbanner img {box-shadow: 0 0 20px #000;}
.storeHeader {background: url("//webcdn.triongames.com/defiance/images/store/storeHeaderBG.jpg") no-repeat;background-size: 100% 100%;height: 0;max-width: 1140px;padding-bottom: 34.03509%;width: 100%;}
.storeHeader .storeCTA {width: 33%;margin: 1%;padding: 1%;float: left;background: url("/defiance/wp-content/uploads/sites/5/2014/05/repeat-opacity-bg.png") top;border-bottom: 4px solid #ff6207;}
.storeHeader .storeCTA .play-now-cta {position: relative;margin: 0 auto;}
.page-template-page-store-php h2:nth-child(1) {color: #ff6206;margin: 0 0 10px;}
.page-template-page-store-php .patronItem img {width: 62px;height: 62px;}
.page-template-page-store-php .subscription {position: relative;}
.page-template-page-store-php .subscription img {border-bottom: none;}
.page-template-page-store-php .subscription>:not(img) {width: 182px;position: absolute;text-align: center;left: 0;margin: 0;padding: 0;color: #fff;text-transform: uppercase;}
.page-template-page-store-php .subscription a {position: relative;color: #fff;}
.page-template-page-store-php .subscription .prices {margin-top: -13em;}
.prices a:hover {text-decoration: none;color: #fff;}
.page-template-page-store-php .subscription p {font-size: 18px;top: 35px;font-weight: 700;}
.page-template-page-store-php .subscription strong, .price strong {font-size: 3em;color: #fff;line-height: 1em;}
.page-template-page-store-php .subscription strong {bottom: .7em;}
.page-template-page-store-php .subscription strong sup, .price strong sup {position: relative;top: -.7em;font-size: .53em;}
.page-template-page-store-php ol {list-style-type: none;border-bottom: 1px solid #006969;padding-bottom: 6%;}
.page-template-page-store-php ol li {color: #c3c3c3;font-size: 15px;line-height: 24px;background: url("//webcdn.triongames.com/defiance/images/store/bullet-disc.png") 0 1px no-repeat;margin: 0 0 10px -40px;padding: 0 0 0 35px;}
.pad64 {padding-bottom: 64px;}
.dlc h2 {color: #ff6207;}
.dlc h3 {font-size: 1.5em;text-transform: uppercase;}
#breadcrumbs {padding: 0;margin: 0 0 1em;list-style: none;text-transform: uppercase;color: #fff;}
#breadcrumbs strong {border-bottom: 4px solid #ff6207;}
#breadcrumbs, #breadcrumbs strong {font-weight: 400;}
.read-more {display: inline;margin-top: 1em;}
.sub, .widget-title {display: none;}
.blog .index-header, .search .page-header {text-transform: uppercase;overflow: hidden;}
.blog .index-header h1, .search .page-header h1 {margin: 4.1% 0 0 1%;}
.blog .post:last-of-type, .page-template-page-community-php .post:last-of-type {border-bottom: none;}
.blog .post, .blog .videos, .page-template-page-community-php .post {border-bottom: 1px solid #006969;margin: 0 1%;}
.sub {position: absolute;z-index: 10000;}
.example {background-color: #e6e6e6;height: 100px;}
.contain {background: green;}
.entry-title {display: block;margin: .5em 0 .1em;line-height: 1em;}
iframe {width: 100%;}
.entry-meta {font-size: 14px;vertical-align: bottom;display: block;}
.format-chat .entry-meta .author, .format-image .categories-links, .format-image .tags-links, .single-author .entry-meta .author, .sticky.format-audio .entry-meta .date, .sticky.format-chat .entry-meta .date, .sticky.format-gallery .entry-meta .date, .sticky.format-image .entry-meta .date, .sticky.format-standard .entry-meta .date {display: none;}
.entry-meta>span {margin-right: 20px;}
.entry-meta>span:last-child {margin-right: 0;}
.gallery {width: 96%;margin: 2%;}
.gallery-item {float: left;margin: 0;overflow: hidden;position: relative;}
.gallery-columns-1 .gallery-item, .gallery-item img {width: 100%;height: 100%;}
.gallery-columns-2 .gallery-item {width: 50%;height: 50%;}
.gallery-columns-3 .gallery-item {width: 33.333%;height: 33.333%;}
.gallery-columns-4 .gallery-item {width: 25%;height: 25%;}
.gallery-columns-5 .gallery-item {width: 20%;height: 20%;}
.gallery-columns-6 .gallery-item {width: 16.666%;height: 16.666%;}
.gallery-columns-7 .gallery-item {width: 14.285%;height: 14.285%;}
.gallery-columns-8 .gallery-item {width: 12.5%;height: 12.5%;}
.gallery-columns-9 .gallery-item {width: 11.111%;height: 11.111%;}
.gallery-caption {background-color: rgba(0,0,0,.7);box-sizing: border-box;color: #fff;font-size: 14px;line-height: 1.3;margin: 0;max-height: 50%;opacity: 0;padding: 2px 8px;position: absolute;bottom: 0;left: 0;text-align: left;-webkit-transition: opacity .4s ease;transition: opacity .4s ease;width: 100%;}
.gallery-caption:before {box-shadow: 0 -10px 15px #000 inset;content: "";height: 100%;min-height: 49px;position: absolute;left: 0;top: 0;width: 100%;}
.blog .format-aside:first-of-type, .blog .format-link:first-of-type, .format-aside+.format-aside, .format-aside+.format-link, .format-link+.format-aside, .single .format-aside:first-of-type, .single .format-link:first-of-type {box-shadow: inset 0 2px 2px rgba(173,165,105,.2);}
.gallery-item:hover .gallery-caption {opacity: 1;}
.format-aside {background-color: #f7f5e7;}
.format-aside .entry-meta {margin-top: 0;}
.format-aside blockquote {font-size: 100%;font-weight: 400;}
.format-aside cite {font-size: 100%;text-transform: none;}
.format-audio .entry-title, .format-chat .entry-title {font-size: 28px;font-weight: 700;}
.format-audio {background-color: #db572f;}
.format-audio .entry-content a, .format-audio .entry-content a:hover, .format-audio .entry-meta a, .format-audio .entry-meta a:hover {color: #fbfaf3;}
.format-chat .entry-content a, .format-chat .entry-meta a, .format-gallery .entry-content a, .format-gallery .entry-meta a {color: #722d19;}
.format-audio .audio-content {background: url("images/dotted-line.png") left top repeat-y;background-size: 4px 4px;float: right;padding-left: 35px;width: 80%;width: -webkit-calc(100% - 85px);width: calc(100% - 85px);}
.format-audio .wp-audio-shortcode {height: 30px !important;margin: 20px 0;max-width: 400px !important;}
.format-audio audio {max-width: 100% !important;}
.c12 img, img {max-width: 100%;vertical-align: bottom;}
.format-chat {background-color: #eadaa6;}
.format-chat .chat {margin: 0;}
.format-chat .chat .chat-timestamp {color: #722d19;float: right;font-size: 12px;font-weight: 400;margin: 5px 10px 0;}
.format-chat .chat .fn {font-style: normal;}
.format-gallery {background-color: #fbca3c;}
.format-gallery .entry-header {margin-bottom: 15px;}
.format-link .entry-content p:last-child, .format-link .entry-header, .format-status .entry-content p:last-child {margin-bottom: 0;}
.format-gallery .entry-title {font-size: 50px;font-weight: 400;margin: 0;}
.format-image .entry-title {font-size: 28px;font-weight: 700;}
.format-link {background-color: #f7f5e7;}
.format-link .entry-title {color: #ca3c08;display: inline;font: 300 italic 20px "Source Sans Pro",Helvetica,sans-serif;margin-right: 20px;}
.format-link .entry-title a {color: #bc360a;}
.format-link div.entry-meta {display: inline;}
.format-quote {background-color: #210d10;}
.format-quote .entry-content, .format-quote .entry-meta {color: #f7f5e7;}
.format-quote .entry-content blockquote {font-size: 28px;margin: 0;}
.format-quote .entry-content a, .format-quote .entry-meta a, .format-quote .linked {color: #e63f2a;}
.format-quote .entry-content cite a {border-bottom: 1px dotted #fff;color: #fff;}
.format-quote .entry-content cite a:hover {text-decoration: none;}
.format-quote blockquote cite, .format-quote blockquote small {display: block;font-size: 16px;}
.format-quote blockquote {font-style: italic;font-weight: 300;padding-left: 75px;position: relative;}
.format-quote .entry-meta .author {display: none;}
.format-status {background-color: #722d19;padding: 0;}
.format-status .entry-content, .format-status .entry-meta {padding-left: 35px;position: relative;}
.format-status .entry-content a {color: #eadaa6;}
.format-status .entry-meta a {color: #f7f5e7;}
.sidebar .format-status .entry-content, .sidebar .format-status .entry-meta {padding-left: 95px;}
.format-status .entry-content:before, .format-status .entry-meta:before {background: url("images/dotted-line.png") left bottom repeat-y;background-size: 4px 4px;content: "";display: block;height: 100%;position: absolute;left: 10px;top: 0;width: 1px;}
.sidebar .format-status .entry-content:before, .sidebar .format-status .entry-meta:before {left: 70px;}
.format-status .categories-links, .format-status .tags-links {display: none;}
.format-status .entry-meta:before {background-position: left top;}
.format-status .entry-content {color: #f7f5e7;font-size: 24px;font-style: italic;font-weight: 300;padding-bottom: 30px;padding-top: 40px;position: relative;}
.format-status .entry-content p:first-child:before {background-color: rgba(0,0,0,.65);content: "";height: 3px;margin-top: 13px;position: absolute;left: 4px;width: 13px;}
.sidebar .format-status .entry-content>p:first-child:before {left: 64px;}
.format-status .entry-meta {margin-top: 0;padding-bottom: 40px;}
.format-video {background-color: #db572f;}
.format-video .entry-content a, .format-video .entry-content a:hover, .format-video .entry-meta a, .format-video .entry-meta a:hover {color: #fbfaf3;}
.format-video .entry-title {font-size: 50px;font-weight: 400;}
.format-video .entry-meta {color: #220e10;}
a {color: #fff;text-decoration: none;}
a:hover {text-decoration: underline;}
img {height: auto !important;}
.c12 {margin: 0 auto;width: 960px;}
.g1, .g10, .g11, .g12, .g2, .g3, .g4, .g5, .g6, .g7, .g8, .g9 {display: block;float: left;margin-left: 1%;margin-right: 1%;}
.g10:after, .g11:after, .g12:after, .g1:after, .g2:after, .g3:after, .g4:after, .g5:after, .g6:after, .g7:after, .g8:after, .g9:after {content: " ";display: block;margin-bottom: 1px;height: 0;width: 0;}
.clear {clear: both;}
.c12 img {height: auto !important;}
.c12 .g1 {width: 6.333%;}
.c12 .g2 {width: 14.667%;}
.c12 .g3 {width: 23%;}
.c12 .g4 {width: 31.333%;}
.c12 .g5 {width: 39.667%;}
.c12 .g6 {width: 48%;}
.c12 .g7 {width: 56.333%;}
.c12 .g8 {width: 64.667%;}
.c12 .g9 {width: 73%;}
.c12 .g10 {width: 81.333%;}
.c12 .g11 {width: 89.667%;}
.c12 .g12 {width: 98%;}
.c12 .p_half {padding-left: 4.1665%;padding-right: 4.1665%;}
.c12 .p1 {padding-left: 8.333%;}
.c12 .p2 {padding-left: 16.667%;}
.c12 .p3 {padding-left: 25%;}
.c12 .p4 {padding-left: 33.333%;}
.c12 .p5 {padding-left: 41.667%;}
.c12 .p6 {padding-left: 50%;}
.c12 .p7 {padding-left: 58.333%;}
.c12 .p8 {padding-left: 66.667%;}
.c12 .p9 {padding-left: 75%;}
.c12 .p10 {padding-left: 83.333%;}
.c12 .p11 {padding-left: 91.667%;}
.c12 .s1 {padding-right: 8.333%;}
.c12 .s2 {padding-right: 16.667%;}
.c12 .s3 {padding-right: 25%;}
.c12 .s4 {padding-right: 33.333%;}
.c12 .s5 {padding-right: 41.667%;}
.c12 .s6 {padding-right: 50%;}
.c12 .s7 {padding-right: 58.333%;}
.c12 .s8 {padding-right: 66.667%;}
.c12 .s9 {padding-right: 75%;}
.c12 .s10 {padding-right: 83.333%;}
.c12 .s11 {padding-right: 91.667%;}
.header {position: relative;}
#site-navigation #toggle, #site-navigation label {display: none;}
.nav-menu>li {list-style: none;float: left;}
.fansitebg .textwidget {font-size: 11px;padding: 0 0 0 16px;}
.fansitebg-en .textwidget {width: 180px;}
.fansitebg-fr .textwidget {width: 200px;}
.fansitebg-de .textwidget {width: 180px;}
.fansitebg .textwidget p {font-size: 12px;margin-bottom: 5px;}
.fansitebg .textwidget a {color: #00aeef;font-size: 12px;text-decoration: none;}
.fansitebg .textwidget a:hover {text-decoration: underline;}
div.fansite-list ul li {list-style-type: none;margin-left: 0;margin-bottom: 13px;}
.fansites span.founder {color: #834cc1;font-weight: 700;font-size: 18px;}
#Notify_IE {position: fixed;bottom: 0;z-index: 999;width: 100%;text-align: center;background-color: #333;border-top: 1px solid #fff;border-bottom: 1px solid #fff;}
#Notify_IE p {margin: 10px 0;font-size: 12px;color: #fff;padding: 0;}
#Notify_IE #Close_IE_Note {margin: 10px;padding: 6px 9px;color: #222;font-size: 12px;background: #f0f0f0;}
#Notify_IE #Close_IE_Note:hover {opacity: .8;}
@media (min-width:1396px) {body.custom-background {background-size: 100%;}
	.c12 {width: 1140px;}
	.alt-pack--info h3 {margin-bottom: -13px;}}
@media only screen and (max-width:1395px) and (min-width:960px) {#slider .controls {width: 64%;margin: -87px auto 0;}
	.featureItem .captionWrap em, .featureItem .captionWrap span {font-size: 1.3em;}
	.storeHeader {background-image: url("//webcdn.triongames.com/defiance/images/store/storeHeaderBG960.jpg");max-width: 960px;padding-bottom: 40.41667%;}
	.storeHeader .storeCTA {background: url("/defiance/wp-content/uploads/sites/5/2014/05/repeat-opacity-bg.png") top;margin-top: 1%;padding: 1%;}
	.nav-menu ul li {padding: 12px 1%;}
	.search-form .search-field {font-size: 1.6em;}
	.c12 {width: 960px;}}
@media only screen and (max-width:1395px) and (min-width:768px) {#slider .no_hslide_box {bottom: 16%;}
	#slider .hslide_box {padding: 2% 2.5%;min-width: 35%;font-size: 1vw;line-height: 1.25vw;bottom: 16%;}}
@media only screen and (max-width:959px),only screen and (min-device-width :768px) and (max-device-width :1024px) and (orientation :landscape) {.anchor:hover .anchor-desc, .anchor:hover:after, .starter-list:hover .info-btn-1, .starter-pack {display: none;}
	.entry-content .cols-1>* {margin-bottom: 5%;}
	.entry-content .cols-2>*, .starter-list>* {width: 100%;}
	.entry-content .cols-4>*, .entry-content .item-list.cols-3>* {width: 48.81%;margin-right: 2.362%;margin-bottom: 2.362%;}
	.entry-content .cols-4>:nth-child(even), .entry-content .item-list.cols-3>:nth-child(even) {margin-right: 0;}
	.anchor-header+.sect-title {margin: 170px 0 35px;}
	.sect-title span {top: 10px;}
	.pack-list>div, [class^=starter-pack--type] p {display: block;}
	[class^=starter-pack--type] {float: none;}
	.pack-list, [class^=starter-pack--type] [class*=pack] {width: 100%;margin: 0;}
	[class*=cols]>:last-child {margin-bottom: 50px;}
	.pack-list {margin-bottom: 8% !important;}
	.pack-list:last-of-type {margin-bottom: 0;}
	.pack-list>div[class*=pack] p {padding: 18px 16px 14px;}
	body[class*=store] .pack--info-L * {margin: 8px 0 -11px 15px;}
	.cta {transform: none;transform: translateX(-50%);-webkit-transform: none;-webkit-transform: translateX(-50%);left: 50%;width: 70%;margin: 15px 0 55px;}
	.cta span {width: 100%;}
	.alt-pack--item {padding-bottom: 65%;background-position: center -8px;}
	.alt-pack--item p {display: block;background-color: none;}
	.alt-pack--info h3 {margin-bottom: -10px;}
	.alt-pack--info .info-btn-2 {padding: 8px 18px;top: 13px;right: 8px;}
	#alt-pack .alt-pack--info {background-image: none;}
	#content .alt-pack--item {margin-bottom: 3%;}
	.item-special--type {height: inherit;background-position: top -220px center !important;}
	.item-special--type>* {display: block;width: 100%;}
	.item-special--type .cta {bottom: 0;width: 80%;position: relative;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);}
	.item-special--desc {margin-top: 450px;}}
@media only screen and (max-width:959px) and (min-width:768px) {#slider .controls {width: auto;margin: -87px 10% 0;}
	.storeHeader {display: table;padding: 0;}
	.storeHeader .storeCTA {margin-top: 1%;margin-bottom: 1%;width: 96%;display: table-cell;vertical-align: bottom;}
	.featureItem .captionWrap em, .featureItem .captionWrap span {font-size: 1em;}
	.sitemap ul li {font-size: 75%;padding: .25em 0;}
	.nav-menu ul li {font-size: 70%;padding: 12px 1%;}
	.blog .index-header, .search .page-header {margin-top: 1.2%;}
	.blog .index-header h1, .search .page-header h1 {margin: .75% 0 .75% 1%;}
	.search-form .search-field {font-size: 1em;margin-top: 4.2%;}
	.c12 {width: 100%;}}
@media only screen and (max-width:768px) and (min-width:480px) and (orientation :portrait),only screen and (max-width:767px) and (min-width:480px) {.price strong {font-size: 150%;}
	.blog .index-header, .search .page-header {margin-top: 1.2%;}
	.blog .index-header h1, .search .page-header h1 {margin: .75% 0 .75% 1%;}
	.search-form .search-field {font-size: 1em;}
	.controls-viewport {display: none;}
	.c640_6 {margin: 0 auto;width: 100%;}
	.g640_1, .g640_2, .g640_3, .g640_4, .g640_5, .g640_6 {display: inline;float: left;margin-left: 1%;margin-right: 1%;}
	.c640_6 .g640_1 {width: 14.667%;}
	.c640_6 .g640_2 {width: 31.333%;}
	.c640_6 .g640_3 {width: 48%;}
	.c640_6 .g640_4 {width: 64.667%;}
	.c640_6 .g640_5 {width: 81.333%;}
	.c640_6 .g640_6 {width: 98%;}
	.c640_6 .p640_0 {padding-left: 0;}
	.c640_6 .p640_1 {padding-left: 16.667%;}
	.c640_6 .p640_2 {padding-left: 33.333%;}
	.c640_6 .p640_3 {padding-left: 50%;}
	.c640_6 .p640_4 {padding-left: 66.667%;}
	.c640_6 .p640_5 {padding-left: 83.333%;}
	.c640_6 .s640_0 {padding-right: 0;}
	.c640_6 .s640_1 {padding-right: 16.667%;}
	.c640_6 .s640_2 {padding-right: 33.333%;}
	.c640_6 .s640_3 {padding-right: 50%;}
	.c640_6 .s640_4 {padding-right: 66.667%;}
	.c640_6 .s640_5 {padding-right: 83.333%;}}
@media only screen and (max-width:959px) {footer .platforms a {margin: 0 1%;}}
@media only screen and (max-width:882px) {footer .row .platforms ul li {display: block;margin: 20px 0;}
	.c12 .platforms img {max-width: 100% !important;padding: 0;}}
@media only screen and (max-width:768px) and (orientation :portrait),only screen and (max-width:767px) {#breadcrumbs, #breadcrumbs strong {line-height: 1.5em;}
	footer .copyrights {margin: 0 3%;}
	#content ul.media li {float: none;padding: 0 0 2%;display: inline-block;vertical-align: top;height: auto;width: 32%;}
	#header .social-links, .feature-img, .sidebar-container .widget_search {display: none;}
	.spClear {clear: both;}
	#header #nav {width: 100%;margin: 0 auto;position: absolute;left: 0;top: 52px;padding: 0;}
	#header h1.logo {width: 148px;}
	.buy-now-cta, .play-now-cta {overflow: hidden;width: 120px;float: right;}
	.nav-links .nav-next, .nav-links .nav-previous {position: relative;margin: 1em 0;}
	.single .nav-links a:last-child {float: none;margin-top: 1em;margin-left: -1em;}
	.single .nav-links a {display: block;}
	.nav-links .nav-previous {left: 1em;}
	.nav-links .nav-next {right: 1.6em;}
	#header .social-links li {width: 25%;}
	#site-navigation {width: 100%;left: 0;position: relative;top: 0;}
	#site-navigation label {position: absolute;left: 3%;cursor: pointer;color: #ff6207;background: url("//webcdn.triongames.com/defiance/images/bg-cover.png") no-repeat;background-size: 100% 100%;width: 23px;height: 0;text-shadow: 0 1px 0 rgba(255,98,7,.6);margin: 0 8px -5px;padding: 0 0 27px 4px;font-size: 19px;transform: scale(2,1);-webkit-transform: scale(2,1);-moz-transform: scale(2,1);-ms-transform: scale(2,1);-o-transform: scale(2,1);top: -37px;display: block;}
	.nav-menu, .nav-menu li {width: 100%;display: block;}
	.nav-menu {position: absolute;background: rgba(0,0,0,.85);overflow: hidden;top: 3px;max-height: 0;}
	.nav-menu li {margin: 0;}
	.nav-menu li a {display: block;width: auto;text-decoration: none;}
	#toggle:checked+div .nav-menu, .nav-menu.active {overflow: visible;-webkit-transition: max-height 2s ease 0s;-moz-transition: max-height 2s ease 0s;-o-transition: max-height 2s ease 0s;transition: max-height 2s ease 0s;max-height: 9999px;}
	.search-form {float: none;}
	.blog .index-header, .search .page-header {background: #006969;height: auto;padding: 0;margin-top: 1.2%;}
	.blog .index-header h1, .search .page-header h1 {margin: 1% 3%;}
	.blog .post, .blog .videos, .page-template-page-community-php .post {margin: 0 3%;}
	.controls-viewport {display: none;}
	#site-navigation .nav-menu ul li {display: block;text-align: left;float: none;border-left: none;box-shadow: none;padding: 0;margin: 0;width: auto;}
	#site-navigation .nav-menu ul li a {color: #fff;text-transform: uppercase;text-shadow: 0 1px 0 rgba(255,255,255,.6);font-size: .95em;display: block;padding: 2%;margin-bottom: 4px;}
	#site-navigation .nav-menu ul li a:hover, #site-navigation .nav-menu ul li.current_page_ancestor a, #site-navigation .nav-menu ul li.current_page_item a {text-decoration: none;border-bottom: 4px solid #ff6207;margin-bottom: 0;}
	#site-navigation .search-form {display: none;}
	#content {margin-top: 3em;}
	#carousel.flexslider .slides {width: 100% !important;margin: 0 auto;transform: none !important;-webkit-transform: none !important;text-align: center;}
	#carousel.flexslider .slides>li {height: 12px;margin: 0 .1em;display: inline !important;float: none !important;}
	#carousel li:hover .detail-overlay, #carousel ul.flex-direction-nav, #carousel.flexslider .slides>li a img {display: none;}
	#carousel.flexslider .slides>li.flex-active-slide a, #carousel.flexslider .slides>li:hover a {-webkit-box-shadow: inset 0 0 0 1px rgba(255,100,0,1);-moz-box-shadow: inset 0 0 0 1px rgba(255,100,0,1);-o-box-shadow: inset 0 0 0 1px rgba(255,100,0,1);box-shadow: inset 0 0 0 1px rgba(255,100,0,1);}
	div#carousel.flexslider .flex-viewport {top: -28px;}
	#carousel.flexslider .slides>li a {width: 13px !important;height: 13px;background: #666;background: rgba(0,0,0,.5);cursor: pointer;text-indent: -9999px;-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,.3);-moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,.3);-o-box-shadow: inset 0 0 0 1px rgba(255,255,255,.3);box-shadow: inset 0 0 0 1px rgba(255,255,255,.3);-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;display: inline-block !important;}
	#carousel {z-index: 9;margin-bottom: 20vw;}
	#slider .no_hslide_box {top: initial;bottom: 0;position: absolute;min-height: 37vw;background: rgba(0,0,0,.4);}
	#slider .hslide_box {margin-left: 0;width: 95%;max-width: 95%;top: 100%;bottom: initial;min-height: initial;padding: 1em 2.5% 1.5em;line-height: 2em;}
	#slider ul.slides li {font-size: 2.5vw;}
	div.flexslider .flex-direction-nav .flex-nav-next, div.flexslider .flex-direction-nav .flex-nav-prev {display: none;}
	.sect-title {margin: 0 0 5px;font-size: 38px;line-height: 36px;word-wrap: break-word;word-break: break-word;}
	.anchor-header+.sect-title {margin: 170px 0 10px;}
	.item-list li {width: 100%;}
	#content .alt-pack--item {margin-bottom: 5%;}
	.alt-pack--info h3 {margin-bottom: -16px;}}
@media only screen and (max-width:617px) {.four_fifth, .full_width, .one_fifth, .one_fourth, .one_half, .one_sixth, .one_third, .three_fifth, .three_fourth, .two_fifth, .two_third {clear: both !important;width: 100% !important;padding: 0;margin-left: 0 !important;margin-right: 0 !important;margin-bottom: 1em !important;}
	.entry-content .cols-3>*, .entry-content .cols-4>* {width: 100% !important;margin-right: 0 !important;}
	.entry-content #patron-items.cols-3 li {height: auto !important;}}
@media only screen and (max-width:479px) {.logo, .sidebar-container aside {text-align: center;}
	#content ul.media li {float: none;padding: 0 0 2%;display: inline-block;vertical-align: top;height: auto;width: 100%;}
	#content ul.media li img {width: 100%;}
	.social-links {display: none;}
	footer .row ul li {display: block;margin: 1em 0;}
	footer .row .legal ul li {padding: 0;}
	footer .copyrights a, footer .corporate a, footer .platforms a, footer .ratings-brand a {margin: 20px 0;display: block;}
	#header {margin-top: -1px;}
	#header h1.logo {position: relative;margin: 0;width: 42%;padding-left: 15%;top: 3px;}
	.buy-now-cta, .play-now-cta {display: none;}
	#slider .controls .next, #slider .controls .prev {max-width: 64px;}
	.c12 {max-width: 479px;width: auto;}
	.c12 .g1, .c12 .g10, .c12 .g11, .c12 .g12, .c12 .g2, .c12 .g3, .c12 .g4, .c12 .g5, .c12 .g6, .c12 .g7, .c12 .g8, .c12 .g9 {width: 96%;padding: 0 2%;float: none;display: block;clear: both;margin: 0;}
	.c12 .p1, .c12 .p10, .c12 .p11, .c12 .p2, .c12 .p4, .c12 .p5, .c12 .p7, .c12 .p8 {padding-left: 0;}
	.c12 .s1, .c12 .s10, .c12 .s11, .c12 .s2, .c12 .s4, .c12 .s5, .c12 .s7, .c12 .s8 {padding-right: 0;}}
@media all and (max-width:650px) and (min-width:320px) {#gnav-2013 .gnav2 .support {display: none;}
	#gnav-2013 .games a {padding: 12px 11px;}}
@media all and (max-width:650px) {a.back-to-top span {display: none;}
	.entry-content.community {clear: both;overflow: hidden;}
	.entry-content.community .featureItem a {overflow: hidden;display: block;}
	.entry-content.community .featureItem a img {display: none;}
	.entry-content.community .featureItem a span {display: block;position: relative;bottom: auto;left: auto;}
	.entry-content.community .featureItem a span.captionWrap img {display: block;}
	#gnav-2013 .nav2 .lang2, #gnav-2013 .nav2 .support, .entry-content.community .featureItem a span.captionWrap em {display: none;}
	#gnav-2013 .games a {padding: 12px 11px;}
	#gnav-2013 .games .rift img {width: 75%;}
	#gnav-2013 .games .arch img {width: 65%;}
	.ie7 #gnav-2013 .games .sub li a, .ie8 #gnav-2013 .games .sub li a {width: 60%;}
	.ie7 #gnav-2013 .games .sub li a:hover, .ie8 #gnav-2013 .games .sub li a:hover {background: 0 0;}}
@media only screen and (max-width:496px) {.alt-pack--item {background-position: center -10px;padding-bottom: 80%;}
	.alt-pack--item p, .alt-pack--item:hover p {display: none;}
	[class^=pack--info-]>* {width: 100% !important;text-align: center;}
	.pack-list [class$=pack--info] {height: auto;padding-bottom: 50px;}
	body[class*=store] [class^=pack--info-] {width: 100%;}
	.pack--info-L>* {margin: 8px 0 -11px !important;}
	.alt-pack--info .info-btn-2 {top: 13px;right: 50%;transform: translateX(50%);-webkit-transform: translateX(50%);width: 65% !important;margin: 0;}
	.cta {width: 100% !important;font-size: 21px !important;}
	.cta-arrow {margin: 0 0 0 10px;}
	[class$=pack--info] {height: auto;padding-bottom: 30px;}
	.pack-list [class^=info-btn] {font-size: 16px;padding: 10px 9px;margin: 50px 0 0;float: none;width: calc(100% - 30px);text-align: center;transform: translateX(50%);-webkit-transform: translateX(50%);right: 50%;transition: all 0s;}
	[class^=starter-pack--type]>div {padding-bottom: 85% !important;}}
@media all and (max-width:480px) {#gnav-2013 .gnav2 .support, div#slider.flexslider ul.flex-direction-nav .flex-nav-next a.flex-next, div#slider.flexslider ul.flex-direction-nav .flex-nav-prev a.flex-prev {display: none;}
	.nav-links .nav-next, .nav-links .nav-previous {width: 50%;padding: 0;}
	#slider .controls .next, #slider .controls .prev {max-width: 46px;}
	.storeHeader {background: none;}
	.storeHeader .storeCTA {width: 92%;}
	.featureItem img {width: 94%;}
	#packs .price {padding-bottom: 1em;}
	.voucherCode {width: 80%;}
	#gnav-2013 h6 {width: 42px;}
	#gnav-2013 .trion-logo {width: 42px;margin: 5px 4px 4px 5px;background-position: -71px -98px;}
	#gnav-2013 a {font-size: .8em;}
	#gnav-2013 .games a, #gnav-2013 .gnav2 a {padding: 12px 10px;}
	#gnav-2013 .gnav2 {min-width: 133px;max-width: 223px;}
	#gnav-2013 .gnav2 li {width: auto;background-image: transparent none;}
	#gnav-2013 .games .sub {background-color: #1a1a1a;background-image: none;min-height: 100px;padding: 15px 0;}
	#gnav-2013 .games .sub li {width: 48%;min-height: 40px;opacity: 1;background-image: none;}
	#gnav-2013 .games .sub li a {height: 40px;opacity: 1;}
	#gnav-2013 .games .sub li a:hover {background-image: none;}
	#gnav-2013 .games .sub li a.devilian img, #gnav-2013 .games .sub li a.devilian:hover img {width: 55%;}
	#gnav-2013 .games .sub li a img {margin-top: 5%;width: 55%;}
	#gnav-2013 .games .sub li a:hover img {margin-top: 5%;width: 55%;opacity: 1;}
	#gnav-2013 .games .sub .rift img {margin-top: -1%;width: 35%;opacity: 1;}
	#gnav-2013 .games .sub .rift:hover img {margin-top: -1%;width: 35%;}
	#gnav-2013 .games .sub .arch img {margin-top: -4%;width: 30%;opacity: 1;}
	#gnav-2013 .games .sub .arch:hover img {margin-top: -4%;width: 30%;}
	#gnav-2013 .games .sub .eon img {margin-top: 1%;opacity: 1;}
	#gnav-2013 .games .sub .eon:hover img {margin-top: 1%;}
	#gnav-2013 .gnav2 .sub {top: 42px;min-width: 100px;}
	#gnav-2013 .gnav2 li li {width: 100px;border: 0;}}
@media only screen and (max-width:320px) {.cookie-compliance-container .cookie-compliance-message #hide-cookie-compliance {width: 100%;height: 30px;}
	.blog .cookie-compliance-container, .cookie-compliance-container, .single .cookie-compliance-container {position: absolute;height: 215px !important;}
	.blog .cookie-compliance-container, .single .cookie-compliance-container {top: 0;}
	.cookie-compliance-message p {padding: 5px !important;font-size: 14px !important;}
	.blog #gnav-2013, .home #gnav-2013, .page-template-register-php #gnav-2013, .single #gnav-2013 {position: absolute;top: 216px;z-index: 12;}
	.blog .nav-bg, .home .nav-bg, .page-template-register-php .nav-bg, .single .nav-bg {position: absolute;top: 258px;}
	.home #home {position: relative !important;margin-top: 258px;}
	.page-template-register-php, .page-template-register-php .cookie-compliance-container {top: 0;}
	.page-template-register-php .reg-form {margin-top: 385px;position: relative;}
	.blog, .single-post {top: auto;background-position: center top;}
	.blog .news-pg, .single .news-pg {margin-top: 285px;}
	.lang-de .blog .cookie-compliance-container, .lang-de .cookie-compliance-container, .lang-de .single .cookie-compliance-container {height: 225px !important;}
	.lang-de.blog #gnav-2013, .lang-de.home #gnav-2013, .lang-de.page-template-register-php #gnav-2013, .lang-de.single #gnav-2013 {top: 226px;}
	.lang-de.blog .nav-bg, .lang-de.home .nav-bg, .lang-de.page-template-register-php .nav-bg, .lang-de.single .nav-bg {top: 268px;}
	.lang-fr .blog .cookie-compliance-container, .lang-fr .cookie-compliance-container, .lang-fr .single .cookie-compliance-container {height: 245px !important;}
	.lang-fr.blog #gnav-2013, .lang-fr.home #gnav-2013, .lang-fr.page-template-register-php #gnav-2013, .lang-fr.single #gnav-2013 {top: 246px;}
	.lang-fr.blog .nav-bg, .lang-fr.home .nav-bg, .lang-fr.page-template-register-php .nav-bg, .lang-fr.single .nav-bg {top: 288px;}
	#gnav-2013 .nav2 li {border-right: 0 none;}
	#gnav-2013 .nav2 .lang2 {display: block;}}