@import url("//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Cinzel:400,700");
.no-scrolls, .play-now-cta {overflow: hidden;}
#pop-up-close:hover, #slideshow-1c .cycle-slide:hover {cursor: pointer;}
#pop-up-close, .subscription:after, .video-link .play-btn:after {content: "";}
a, button, h1, h2, h3, h4, h5, h6, input, p, select, textarea {color: #fff;}
button, h6, html, input, li, p, select, textarea {font-family: "Open Sans",sans-serif;}
.anchor>span, h1, h2, h3 {font-family: Cinzel,serif;}
h1, h2, h3 {color: #4c7889;text-transform: none;}
#breadcrumbs, #breadcrumbs a, .anchor:hover>span {color: #fff;}
.cta span, .typography h2, .typography h3, .typography h4 {text-transform: uppercase;}
h2, h2.entry-title {line-height: 1.2em;}
hr {border-top: 1px solid #333;}
#breadcrumbs a:hover {text-decoration: none;border-bottom: 4px solid #6f26ff;}
#breadcrumbs strong {border-bottom: 4px solid #6f26ff;font-weight: 700;}
::-moz-selection, ::selection {background-color: #b3d4fc;}
body[class*=store] {background-repeat: no-repeat !important;}
.anchor:hover>span:nth-of-type(1), .anchor>span:nth-of-type(2), body[class*=store] #content .g12 {display: none;}
.anchor {border-bottom: solid 3px #6f26ff;background-position: center -20px;}
.anchor:nth-child(1), .anchor:nth-child(1) .anchor-desc--img {background-image: url("//webcdn.triongames.com/rift/img/store/nav-rift-bundles.jpg");}
.anchor:nth-child(2), .anchor:nth-child(2) .anchor-desc--img {background-image: url("//webcdn.triongames.com/rift/img/store/nav-nightmare-tide.jpg");}
.anchor:nth-child(3), .anchor:nth-child(3) .anchor-desc--img {background-image: url("//webcdn.triongames.com/rift/img/store/nav-patron.jpg");}
.anchor:nth-child(4), .anchor:nth-child(4) .anchor-desc--img {background-image: url("//webcdn.triongames.com/rift/img/store/nav-credits.jpg");}
.anchor:before {background: rgba(34,20,2,.65);}
.anchor:hover:before {background: rgba(34,20,2,.5);}
.anchor>span {text-shadow: 0 0 10px #000,0 0 10px #000;color: #fff;font-weight: 700;font-size: 19px;line-height: 23px;word-spacing: 2px;}
[lang*=de] .anchor>span {font-size: 16px;}
.anchor-desc {box-shadow: 0 4px 5px rgba(34,20,2,.6);}
.anchor-desc, .anchor-desc::after {background-color: #0d0d0d;border: 1px solid #7130f2;}
.anchor-desc--img {box-shadow: inset 0 0 0 1px #fff;}
.anchor-desc--title {font-weight: 700;}
.anchor-desc--blurb {font-size: 14px;line-height: 21px;}
.anchor-desc--blurb, .anchor-desc--title {color: #d9d9d9;}
.sect-info {font-size: 14px;line-height: 28px;margin: 25px 0;color: #fff;}
.sect-title {border-bottom: 1px solid #322947;padding-top: 50px;}
.starter-pack--info h3 {line-height: 1em;}
.starter-pack--type-1>div {background-image: url("//webcdn.triongames.com/rift/img/store/storm-legion-pack.jpg");}
.starter-pack--type-2>div {background-image: url("//webcdn.triongames.com/rift/img/store/nightmare-tide-pack.jpg");}
.starter-pack--type-3>div {background-image: url("//webcdn.triongames.com/rift/img/store/planetouched-pack.jpg");}
.starter-pack--type-4>div {background-image: url("//webcdn.triongames.com/rift/img/store/ultimate-rift-pack.jpg");}
.starter-pack--type-5>div {background-image: url("//webcdn.triongames.com/rift/img/store/ascended-pack.jpg");}
.starter-pack--type-6>div {background-image: url("//webcdn.triongames.com/rift/img/store/typhoon-edition.jpg");}
.starter-pack--type-7>div {background-image: url("//webcdn.triongames.com/rift/img/store/wilds-pack.jpg");}
.starter-pack--type-8>div {background-image: url("//webcdn.triongames.com/rift/img/store/primalist-pack2.jpg");}
.starter-pack--type-9>div {background-image: url("//webcdn.triongames.com/rift/img/store/SFP-deluxe-pack.jpg");}
.starter-pack--type-10>div {background-image: url("//webcdn.triongames.com/rift/img/store/SFP-standard-pack.jpg");}
.anchor:nth-child(3) {background-position: center center;}
[class^=starter-pack--type] p, [class^=starter-pack--type]:after {background-color: rgba(94,79,62,1);}
body[class*=store] [class^=starter-] em {color: #fff;font-weight: 700;font-size: 40px;}
body[class*=store] .pack--info-R {margin: 9px 0 0;}
body[class*=store] #patronBenefits .pack--info-L {margin-top: 9px;}
[class$=pack--info], [class^=starter-pack--type] p, [class^=starter-pack--type]::after {background: url("//webcdn.triongames.com/rift/img/store/info-bg.png");}
[class^=starter-pack--type] p {font-size: 13px;line-height: 22px;padding: 0 10px 5px;color: #fff;margin: 5px 0 0;}
[class^=info-btn] {background-color: #581fcc;border: 0;color: #fff;font-size: 11px;}
.info-btn-1 {padding: 5px 7px;outline: 0;}
.info-btn-2 {padding: 2px 6px;top: 12px;}
.info-btn-half {color: #fff;font-family: Cinzel,serif;font-weight: 700;background-color: #652bd9;border: 1px solid #a273ff;border-radius: 2px;}
#header a, #patron-items strong, #patronBenefits .more-info--details strong, .cta span {font-family: Cinzel,serif;}
.pack-list>ul li span {padding: 0 0 0 45px;}
.pack-list>ul li {padding: 0 12px;font-size: 15px;line-height: 19px;height: 85px;}
.pack-list>ul li:nth-child(odd) {background-color: rgba(128,128,128,.4);}
.pack-list>ul li:nth-child(even) {background-color: rgba(89,89,89,.4);}
.pack-list>ul li:before {width: 37px;height: 20px;transform: translate(10px,-50%);-webkit-transform: translate(10px,-50%);background: url("//webcdn.triongames.com/rift/img/store/bullet.png") center center/60% auto no-repeat rgba(0,0,0,0);}
body[class*=store] .pack--info-L h5 {margin-bottom: 1em;}
.cta {border: 1px solid #a273ff;border-radius: 2px;background-color: #652bd9;height: 75px;margin: 15px 0 0;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);}
.cta span {font-size: 25px;color: #fff;font-weight: 700;}
.cta:hover {color: #fff;background-color: #8d5cee;}
.cta.disabled span {color: #a67c52;text-shadow: none;}
.cta:active {transform: translateY(2px) translateX(-50%);-webkit-transform: translateY(2px) translateX(-50%);}
.feature-pack-title {font-size: 1.5em;}
.feature-pack-l p, .feature-pack-l ul li {font-size: 13px;}
.feature-pack-1 p strong {font-size: 14px;}
.feature-pack-l ul li {margin-left: 20px;}
.feature-pack-wrapper {background: url("//webcdn.triongames.com/rift/img/store/pack-row-even.png");padding: 8px 25px 15px;position: relative;}
.feature-pack-l {width: 50%;float: left;padding: 0 25px 0 0;}
.feature-pack-r {width: 50%;height: 100%;background-image: url("//webcdn.triongames.com/rift/img/store/primalist-pack.jpg");background-size: cover;background-position: center center;border: 0 !important;top: 0;position: absolute;right: 0;}
.item-list li:before, .more-info--details li:before {top: 15px;left: 15px;}
.benefit-summary, .more-info--item {position: relative;}
.feature-pack-l .cta {max-width: 80%;}
.item-list li {padding: 15px 15px 15px 105px;min-height: 102px;}
#patron-items li {background: url("//webcdn.triongames.com/rift/img/store/pack-row-odd.png");box-shadow: none;}
#patron-items li::before {border: 1px solid #5926bf;border-radius: 0;}
#patron-items li span {font-size: 14px;color: #d9d9d9;}
#patron-items strong {color: #d9d9d9;font-size: 17px;}
#patron-items li:nth-child(1):before {background-image: url("//webcdn.triongames.com/rift/img/f2p/currency.png");}
#patron-items li:nth-child(2):before {background-image: url("//webcdn.triongames.com/rift/img/f2p/experience.png");}
#patron-items li:nth-child(3):before {background-image: url("//webcdn.triongames.com/rift/img/f2p/summons.png");}
#patron-items li:nth-child(4):before {background-image: url("//webcdn.triongames.com/rift/img/f2p/currency-daily.png");}
#patron-items li:nth-child(5):before {background-image: url("//webcdn.triongames.com/rift/img/f2p/mount-speed.png");}
#patron-items li:nth-child(6):before {background-image: url("//webcdn.triongames.com/rift/img/f2p/favor.png");}
#patron-items li:nth-child(7):before {background-image: url("//webcdn.triongames.com/rift/img/f2p/discount.png");}
#patron-items li:nth-child(8):before {background-image: url("//webcdn.triongames.com/rift/img/f2p/queue.png");}
#patron-items li:nth-child(9):before {background-image: url("//webcdn.triongames.com/rift/img/f2p/notoriety.png");}
#patron-items li:nth-child(10):before {background-image: url("//webcdn.triongames.com/rift/img/f2p/loyalty.png");}
#patron-items li:nth-child(11):before {background-image: url("//webcdn.triongames.com/rift/img/f2p/daily-quests.png");}
#patron-items li:nth-child(12):before {background-image: url("//webcdn.triongames.com/rift/img/f2p/artifacts.png");}
#patron-items li:nth-child(13):before {background-image: url("//webcdn.triongames.com/rift/img/f2p/crate.png");}
#patron-items li:nth-child(14):before {background-image: url("//webcdn.triongames.com/rift/img/f2p/luck.png");}
#patron-items li:nth-child(15):before {background-image: url("//webcdn.triongames.com/rift/img/f2p/fast-pass.png");}
#patron-items li:nth-child(16):before {background-image: url("//webcdn.triongames.com/rift/img/f2p/charges.png");}
#patron-items li:nth-child(17):before {background-image: url("//webcdn.triongames.com/rift/img/f2p/halo.png");}
#patron-items li:nth-child(18):before {background-image: url("//webcdn.triongames.com/rift/img/f2p/overlord.png");}
.item-special--desc {background-color: #fff;}
.item-special--type {border: 1px solid #836d4f;}
.item-special--type h5 {color: #493822;}
.item-credits p, .item-rex p {background: url("//webcdn.triongames.com/rift/img/store/info-bg.png") rgba(0,0,0,0);color: #d9d9d9;font-size: .9em;}
.buy-credits .cta span {padding: 0;font-size: 20px;}
.buy-credits .cta {height: 65px;width: 60%;}
#patron a:before {background-image: repeating-linear-gradient(90deg,rgba(255,255,255,.1),rgba(255,255,255,.3) 5px,transparent 4px,transparent 15px);}
.patron-amount {background-color: #fff;padding: 11px;font-size: 16px;color: #111;font-weight: 700;}
.patron-value {font-size: 12px;color: #222;margin: 13px 0 0;padding: 3px;background-color: rgba(255,255,255,.4);}
.patron-payment {font-size: 80px;font-weight: 700;margin: 39px 0 35px;letter-spacing: -.01em;}
.patron-payment em.br {font-size: 85%;}
.patron-cta {border-top: 2px solid #fff;}
.patron-cta p {font-size: 19px;font-weight: 700;letter-spacing: 1px;border: 1px solid #fff;background: rgba(0,0,0,.35);color: #fff;}
a[class^=patron]:hover .patron-cta p {background: #ff6207;box-shadow: inset 0 0 30px rgba(211,0,0,.75);text-shadow: 0 -2px 0 #cf3700;}
.patron-1 {background: #bfc6c7;}
.patron-1:hover {background: #d3d5d5;}
.patron-1 .patron-amount {box-shadow: 0 2px 0 0 rgba(76,86,86,.6);}
.patron-1 .patron-payment {text-shadow: 0 0 50px rgba(255,255,255,1),0 3px 0 rgba(234,234,234,1);}
.patron-1 .patron-payment, .patron-1 .patron-period {color: #283030;}
.patron-1 .patron-cta {background: rgba(17,19,19,.8);}
.patron-2 {background: #66cfed;}
.patron-2:hover {background: #7ed6ef;}
.patron-2 .patron-amount {box-shadow: 0 2px 0 0 rgba(24,122,150,1);}
.patron-2 .patron-payment {text-shadow: 0 0 50px rgba(255,255,255,1),0 3px 0 rgba(0,99,211,.75);}
.patron-2 .patron-payment, .patron-2 .patron-period {color: #000a52;}
.patron-2 .patron-cta {background: rgba(9,14,36,.8);}
.patron-3 {background: #84cf60;}
.patron-3:hover {background: #92da70;}
.patron-3 .patron-amount {box-shadow: 0 2px 0 0 rgba(62,128,55,1);}
.patron-3 .patron-payment {text-shadow: 0 0 50px rgba(255,255,255,1),0 3px 0 rgba(9,142,0,1);}
.patron-3 .patron-payment, .patron-3 .patron-period {color: #0d2c06;}
.patron-3 .patron-cta {background: rgba(9,27,2,.8);}
.patron-4 {background: #f2c022;}
.patron-4:hover {background: #ffcd2f;}
.patron-4 .patron-amount {box-shadow: 0 2px 0 0 rgba(215,98,0,.6);}
.patron-4 .patron-payment {text-shadow: 0 0 50px rgba(255,255,255,1),0 3px 0 rgba(255,107,0,.6);}
.patron-4 .patron-payment, .patron-4 .patron-period {color: #4c2000;}
.patron-4 .patron-cta {background: rgba(23,11,0,.8);}
.page-storerift .sect-title {margin-bottom: 25px;line-height: 50px;}
.page-storerift .sect-title+.sect-info {margin-top: 25px;}
.page-storerift .cta {width: calc(100% - 2px);}
.benefit-image>div {border: 1px solid rgba(50,41,71,1);background-color: #000;text-align: center;}
.benefit-summary .benefit-image>div img {border: none;box-shadow: none;width: 90%;}
#patronAffinity h6.sect-info {font-size: 1em;}
#patronAffinity .benefit-summary h3 {font-size: 1.5em;}
#patronAffinity .benefit-summary .sect-info {text-align: left;font-size: 16px;margin-top: 0;}
.more-info--item {height: 0;width: 100%;padding-bottom: 65%;border: 1px solid rgba(50,41,71,1);background-position: center center;background-repeat: no-repeat;background-size: cover;}
.more-info--item.currency {background-image: url("//webcdn.triongames.com/rift/img/patron/affinity_categories_currency.jpg");}
.more-info--item.extra-loot {background-image: url("//webcdn.triongames.com/rift/img/patron/affinity_categories_extra-loot.jpg");}
.more-info--item.boots-power {background-image: url("//webcdn.triongames.com/rift/img/patron/affinity_categories_boosts.jpg");}
.more-info--item.convenience {background-image: url("//webcdn.triongames.com/rift/img/patron/affinity_categories_convenience.jpg");}
#patronBenefits .wrapper h3 {font-size: 1.5em;}
.more-pack--info {padding: 0 2%;}
.more-pack--info>* {float: left;}
.more-pack--info .pack--info-L {width: 60%;}
.more-pack--info .pack--info-R a.info-btn {padding: 6px;display: inline-block;margin-top: 24px;}
.more-pack--info .pack--info-R a.active {opacity: .6;}
.more-pack--info .pack--info-R {width: 40%;text-align: right;}
#patronBenefits .more-info--details ul li {list-style: none;display: inline-block;margin-bottom: 0;width: 100%;padding: 15px;min-height: 102px;}
.more-info--details ul li img {padding-right: 0;}
.more-info--details>p {text-align: left;background: #000;margin: 0;padding: 10px 10px 5px;}
#patronBenefits .more-info--details ul li p {font-size: 14px;color: #d9d9d9;margin: 0 0 0 6.8em;}
.more-info--details li {background-color: rgba(128,128,128,.4);box-shadow: none;}
.more-info--details li:nth-child(2n) {background-color: rgba(89,89,89,.4);}
#patronBenefits ul.patron-container li img {border: none;}
#patronBenefits .more-info--details li::before {border: 1px solid #5926bf;border-radius: 0;}
#patronBenefits .more-info--details strong {display: block;color: #d9d9d9;font-size: 17px;}
@media only screen and (max-width:1920px) {.benefit-summary .benefit-image>div img {width: 70%;}}
@media only screen and (max-width:1280px) {.benefit-summary .benefit-image>div img {width: 90%;}}
@media only screen and (max-width:976px) {#patronAffinity .benefit-summary.cols-2>* {width: 48.81%;}
	#patronAffinity .benefit-summary.cols-2>:nth-child(2n+2) {margin-right: 0;}
	#patronAffinity [class*=cols]>:last-child, #patronBenefits [class*=cols]>:last-child {margin-bottom: 2.362%;}
	.pack-list [class^=info-btn] {margin: 0;}
	.pack-list>div[class*=pack] p {display: none;margin: 0;height: auto;font-size: .9em;}}
@media only screen and (max-width:768px) {.pack-list [class^=info-btn] {top: auto;}
	#patronAffinity .benefit-summary.cols-2>*, .main-container .cols-2>* {width: 100%;}
	#patronBenefits .wrapper {position: relative;}}
#pop-up-close, #vid-cont {top: 50%;position: absolute;}
@media only screen and (max-width:496px) {.more-info--item {padding-bottom: 85%;}
	.more-info--item .more-pack--info .pack--info-R {margin-top: 4%;margin-bottom: 2%;}
	.more-pack--info .pack--info-L h3 {font-size: 21px;line-height: 24px;padding-bottom: .6em;}
	.more-pack--info .pack--info-R a.info-btn-2 {float: left;position: initial;}
	#patronAffinity .wrapper h1.sect-title:lang(de), #patronAffinity .wrapper h1.sect-title:lang(fr) {font-size: .8em;line-height: 1em;}
	#patronAffinity .benefit-summary .sect-info:lang(de), #patronAffinity .benefit-summary .sect-info:lang(fr), #patronAffinity .benefit-summary h3:lang(de), #patronAffinity .benefit-summary h3:lang(fr), #patronAffinity h6.sect-info:lang(de), #patronAffinity h6.sect-info:lang(fr), #patronBenefits .wrapper h3:lang(de), #patronBenefits .wrapper h3:lang(fr) {font-size: 14px;}
	#patronBenefits .patron-container li strong:lang(de), #patronBenefits .patron-container li strong:lang(fr) {font-size: .8em;}}
.classes ul.slides {padding: 0;}
.classes ul li img {border: 1px solid grey;padding: .25em;}
.dob-error, .dob-header {padding-top: 10%;}
.dob-error {display: none;}
.age-selector, .dob-error h2, .dob-header h2, .dob-submit {text-align: center;}
.dob-submit {max-width: 291px;margin: 0 auto;}
.dob-submit input {background: url("//webcdn.triongames.com/archeage/img/continue-sprites.png") no-repeat;background-size: 100% 900%;height: 0;max-width: 291px;padding-bottom: 31.27148%;width: 100%;border: none;text-indent: -9999px;outline: 0;}
.dob-submit input:hover {background-position: 0 12.5%;outline: 0;}
.dob-submit input:active {background-position: 0 25%;outline: 0;}
.language-fr .dob-submit input {background-position: 0 37.5%;}
.language-fr .dob-submit input:hover {background-position: 0 50%;}
.language-fr .dob-submit input:active {background-position: 0 62.5%;}
.language-de .dob-submit input {background-position: 0 75%;}
.language-de .dob-submit input:hover {background-position: 0 87.5%;}
.language-de .dob-submit input:active {background-position: 0 100%;}
.dob-form .styled-input {display: inline;}
.dob-form .styled-input .error {-webkit-box-shadow: inset -1px -1px 0 red,inset 1px 1px 0 red;box-shadow: inset -1px -1px 0 red,inset 1px 1px 0 red;}
.dob-form input::-webkit-input-placeholder {color: #fff;}
.dob-form input:-moz-placeholder {color: #fff;}
.dob-form input::-moz-placeholder {color: #fff;}
.dob-form input::-ms-input-placeholder {color: #fff;}
.dob-form input.error::-webkit-input-placeholder {color: #caa;}
.dob-form input.error:-moz-placeholder {color: #caa;}
.dob-form input.error::-moz-placeholder {color: #caa;}
.dob-form input.error::-ms-input-placeholder {color: #caa;}
.dob-form input#day, .dob-form input#month, .dob-form input#year {margin: 1%;padding: .35em .2em;width: 2em;text-align: center;border: 0;background: #6f26ff;background: -moz-linear-gradient(top,#6f26ff 0,#5925c2 100%);background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#6f26ff),color-stop(100%,#5925c2));background: -webkit-linear-gradient(top,#6f26ff 0,#5925c2 100%);background: -o-linear-gradient(top,#6f26ff 0,#5925c2 100%);background: -ms-linear-gradient(top,#6f26ff 0,#5925c2 100%);background: linear-gradient(to bottom,#6f26ff 0,#5925c2 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6f26ff",endColorstr="#5925c2",GradientType=0);color: #fff;font-family: Cinzel,serif;font-size: 3em;}
.dob-form input#year {width: 4em;}
#header .home-link img {width: auto;padding: 2% 0;}
#header a {font-size: .9em;font-weight: 700;}
#header .home-link:hover {filter: brightness(1.2);}
.sidebar-inner .widget a:hover img, a.fancybox:hover, a.fancyvideos:hover {filter: brightness(1.08);}
.fancybox-nav {width: 10%;height: 50%;margin: 14% 0;}
.fancybox-skin {background: #1b1b1b;}
a.fancyvideos:hover span.play-btn {opacity: 1;}
#overlay {background-color: rgba(0,0,0,.9);width: 100%;height: 100%;position: fixed;z-index: 999999;}
#pop-up-close {width: 27px;height: 28px;left: 50%;margin-top: -305px;margin-left: 453px;background-position: -369px -82px;}
#vid-cont {width: 960px;height: 543px;left: 50%;margin: -271px 0 0 -480px;background-color: #7b2d00;border-width: 3px;}
.hidden {display: none;}
.fancybox-skin {background-color: rgba(0,0,0,.8);border: 1px solid #000;box-shadow: inset 0 0 0 1px #4b4b4b;padding: 0 !important;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
.fancybox-opened .fancybox-skin {--moz-box-shadow: none;border-color: #6f26ff;border-style: solid;-webkit-box-shadow: none;-moz-box-shadow: none;border-bottom: 4px solid #6f26ff;}
.fancybox-type-iframe .fancybox-inner {padding: 0;}
.fancybox-error {color: #a0a0a0;}
#header .social-links {padding: 0;margin: 0;list-style: none;}
#header .social-links li {margin: 6% 0;width: 22%;float: left;background: no-repeat;background-size: contain;height: 35px;}
#header .social-links a {margin: 20%;width: 20px;display: block;background-repeat: no-repeat;height: 20px;background-size: cover;}
#header .social-links a:hover {background-position: 0 100%;}
.language-fr #header a {font-size: .8em;}
.twitch {background-image: url("//webcdn.triongames.com/rift/img/community/twitch.png");}
.yt {background-image: url("//webcdn.triongames.com/rift/img/community/yt.png");}
.twitter {background-image: url("//webcdn.triongames.com/rift/img/community/twitter.png");}
.fb {background-image: url("//webcdn.triongames.com/rift/img/community/fb.png");}
footer {background: #000;border-top: 4px solid #6f26ff;}
footer .legal a {color: #fff;}
footer .copyrights p {color: #b2b2b2;}
footer .legal li {border-color: #444;}
footer .legal #change-region span.selected {color: #fff;}
footer .region-selector a:hover {text-decoration: underline;}
footer .row ul li {display: inline-block;margin: 10px 0;}
.nav-menu ul li {padding: 11px 2%;border-left: 1px solid rgba(255,255,255,.1);-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
.buy-now-cta, .redeem-cta {max-width: 263px;width: 100%;padding-top: 1em;}
.play-now-cta {max-width: 291px;position: absolute;width: 103%;margin-top: -3%;right: 0;}
.buy-now-cta a, .redeem-cta input {max-width: 263px;height: 0;display: block;}
.redeem-cta {padding-top: 0;}
.redeem-cta input {background: url("//webcdn.triongames.com/rift/img/redeem-sprite2.png") no-repeat rgba(0,0,0,0);background-size: 100% 900%;padding-bottom: 25.8555%;width: 100%;border: 0;}
.buy-now-cta a {background: url("//webcdn.triongames.com/archeage/img/buy-now-sprites.png") no-repeat;background-size: 100% 900%;padding-bottom: 25.85551%;width: 100%;}
.play-now-cta a {display: block;background: url("//webcdn.triongames.com/rift/img/playnow-sprite-v2.png") no-repeat;background-size: 100% 900%;height: 0;max-width: 260px;padding-bottom: 25.47009%;width: 100%;}
.buy-now-cta a:hover, .play-now-cta a:hover, .redeem-cta input:hover {background-position: 0 12.5%;}
.buy-now-cta a span, .play-now-cta a span {display: block;text-indent: -9999px;}
.play-now-cta a:hover {background-size: 100% 900%;}
.play-now-cta a:active {background-position: 0 25%;background-size: 100% 900%;}
.language-fr .play-now-cta a {background-position: 0 37.5%;background-size: 100% 900%;}
.language-fr .play-now-cta a:hover {background-position: 0 50%;background-size: 100% 900%;}
.language-fr .play-now-cta a:active {background-position: 0 62.5%;background-size: 100% 900%;}
.language-de .play-now-cta a {background-position: 0 75%;background-size: 100% 900%;}
.language-de .play-now-cta a:hover {background-position: 0 87.5%;background-size: 100% 900%;}
.language-de .play-now-cta a:active {background-position: 0 100%;background-size: 100% 900%;}
.language-fr .buy-now-cta a, .language-fr .redeem-cta input {background-position: 0 37.5%;}
.language-fr .buy-now-cta a:hover, .language-fr .redeem-cta input:hover {background-position: 0 50%;}
.language-fr .buy-now-cta a:active, .language-fr .redeem-cta input:active {background-position: 0 62.5%;}
.language-de .buy-now-cta a, .language-de .redeem-cta input {background-position: 0 75%;}
.language-de .buy-now-cta a:hover, .language-de .redeem-cta input:hover {background-position: 0 87.5%;}
.language-de .buy-now-cta a:active, .language-de .redeem-cta input:active {background-position: 0 100%;}
.center .buy-now-cta, .center .play-now-cta, .center .redeem-cta {position: relative;margin: 0 auto;}
.blog .index-header h1, .search .page-header h1 {margin: 4.1% 0 0;}
.search-form {position: relative;border: 1px solid #6f26ff;float: none;margin: 0 0 0 auto;background: #d9d9d9;-webkit-box-shadow: inset 0 0 8px 0 #888;box-shadow: inset 0 0 8px 0 #888;max-width: 300px;width: 100%;}
.search-form .search-field {background: 0 0;margin: 0 9% 0 21%;border: 0;outline: #ffff10;font-size: 1.3em;width: 69%;box-sizing: border-box;color: #000;}
.search-form .search-field::-ms-clear {display: none;}
.search-form .search-field.numeric {direction: rtl;}
.search-submit {text-indent: -9999px;border: 0;position: absolute;left: 4%;top: 24%;background: url("//webcdn.triongames.com/rift/img/rift-sprite2.png") 95.37037% 3.83142% no-repeat;height: 19px;width: 24px;padding: 0;}
.search-submit:hover, form.search-form.right:hover .search-submit {background-position: 95.37037% 11.11111%;}
a.sidebar-redeem-btn {display: block;margin: 0 0 0 auto;max-width: 309px;width: 100%;}
a.sidebar-redeem-btn span {position: relative;background: url("//webcdn.triongames.com/rift/img/redeem-sprite2.png") 0 0/100% 900% no-repeat;display: block;height: 0;padding-bottom: 21.35922%;width: 100%;right: -4px;}
a.sidebar-redeem-btn:hover span {background-position: 0 12.5%;}
a.sidebar-redeem-btn:active span {background-position: 0 25%;}
.language-fr a.sidebar-redeem-btn span {background-position: 0 37.5%;}
.language-fr a.sidebar-redeem-btn:hover span {background-position: 0 50%;}
.language-fr a.sidebar-redeem-btn:active span {background-position: 0 62.5%;}
.language-de a.sidebar-redeem-btn span {background-position: 0 75%;}
.language-de a.sidebar-redeem-btn:hover span {background-position: 0 87.5%;}
.language-de a.sidebar-redeem-btn:active span {background-position: 0 100%;}
.fancybox-overlay {background-color: rgba(28,51,60,.92);opacity: 1;}
.fancybox-close, .fancybox-next span, .fancybox-prev span {background: url("//webcdn.triongames.com/rift/img/rift-sprite2.png") no-repeat;}
.fancybox-close {background-position: 78.81773% 4.11523%;height: 37px;width: 37px;}
.fancybox-next span, .fancybox-prev span {width: 65px;height: 65px;}
.fancybox-prev span {background-position: 5.71429% 4.65116%;}
.fancybox-next span {background-position: 48.57143% 4.65116%;}
.fancybox-opened .fancybox-skin {background-color: transparent;border-width: 0;box-shadow: 0 0 0 1px #fff,0 0 35px rgba(0,0,0,.8),0 0 50px rgba(0,0,0,.8);}
#overlay iframe {width: 100%;height: 100%;}
.typography * {font-family: "Open Sans",Georgia,Times,serif;}
#play-blurb p, #play-blurb ul li, .dob-error h2, .dob-header h2, .typography li, .typography p {font-size: 1em;line-height: 24px;margin: 20px 0 6px;color: #fff;font-weight: 400;}
.typography li a, .typography p a {color: #fff;text-decoration: underline;}
.typography ol {padding: 0 0 0 22px;}
.typography li {margin: 5px 0 10px;}
.typography h2 {font-size: 27px;line-height: 16px;margin: 25px 0 8px;}
.typography h4 {text-align: center;font-size: 12px;font-weight: 400;margin: 40px 0 0;color: #fff;}
.typography h3 {text-align: center;font-size: 15px;font-weight: 700;color: #fff;margin: 20px 0 -7px;line-height: 22px;}
.typography .alt-weight {color: #47281c;font-weight: 700;}
.dob-header h2 {font-size: 1.5em;}
.divider {width: 100%;height: 15px;background-position: calc(50% + 465px) -265px;margin: 30px 0;}
.code-field {background: url("//webcdn.triongames.com/archeage/img/news-header-bg.png") 37px -12px no-repeat;display: block;height: 120px;margin: 0 auto;max-width: 714px;padding: 10px;width: 100%;}
.code-field .voucherCode {background: #4c7889;border: 2px solid #6f26ff;margin-top: 1em;padding: .5em;color: #fff;}
.divider2 {box-shadow: none;border: 0;}
.beta-code ol {padding: 0 0 0 20px;}
.beta-code ol li {color: #47281c;}
.beta-code h4 {color: #fff;}
.slide img.old {position: absolute;top: 0;opacity: 0;-webkit-transition: opacity .5s ease-out;-moz-transition: opacity .5s ease-out;-o-transition: opacity .5s ease-out;transition: opacity .5s ease-out;}
.slide img.new {opacity: 1;-webkit-transition: opacity .5s ease-in;-moz-transition: opacity .5s ease-in;-o-transition: opacity .5s ease-in;transition: opacity .5s ease-in;}
#cycle-1 div {width: 100%;}
#slideshow-1, #slideshow-1c {position: relative;width: 100%;max-width: 100%;margin: auto;}
#slideshow-1c img {border: 1px solid #00e8e8;position: relative;max-width: 178px;}
#slideshow-1c .cycle-slide-active img, #slideshow-2c img:hover {border-bottom: 1px solid #6f26ff;}
#slideshow-1c {margin-top: 1em;}
#slideshow-1c .cycle-slide {margin: 0 1% 0 0;}
.custom-caption {bottom: 6%;left: 2%;}
.custom-caption h3 {margin: 0;}
div.arrow {position: absolute;z-index: 1000;width: 3.1%;top: 0;}
div.arrow .cycle-next, div.arrow .cycle-prev {z-index: 1000;background: url("//webcdn.triongames.com/archeage/img/game-guide/technology/weapons/arrows.png") no-repeat;background-size: 200% 100%;height: 0;padding-bottom: 296.9697%;display: block;text-indent: -9999px;}
div.arrow.prev {left: 0;}
div.arrow.next {right: 0;}
div.arrow .cycle-next {background-position: 100% 0;}
a.back-to-top {position: fixed;bottom: 2em;right: 1em;text-decoration: none;text-indent: -9999px;display: none;width: 80px;z-index: 1000;}
a.back-to-top:hover {filter: brightness(1.05);}
.community .featureItem a:hover img, a.feature-img:hover {filter: brightness(1.08);}
a.back-to-top span {display: block;background: url("//webcdn.triongames.com/rift/img/rift-sprite2.png") 93.75% 43.5% no-repeat;background-size: 300% 350%;height: 0;max-width: 80px;padding-bottom: 100%;width: 100%;}
.nav-links .meta-nav, .sitemap ul li a span, .sitemap ul li a:hover span, .video-link .play-btn img, a.morelink span, a.morelink:hover span {display: none;}
#mobile-form {padding: 0 1em;}
#mobile-form p {color: #ddd;}
#mobile-form input {padding: 1em 1.2em;}
#mobile-form .submit {margin-bottom: 1em;margin-top: -22px;}
#console-blurb {opacity: .8;line-height: 22px;background-color: #000;padding: 5px 20px 10px;}
#console-blurb p {color: rgba(255,98,7,.9);}
.fancybox-inner {min-height: 381px !important;background: #000;}
hr {border-color: #fff;opacity: .25;}
#content ul.media li img, .c12 .entry-content img, .feature-img img, .video-link img {border-bottom: 4px solid #6f26ff;}
#nav .nav-menu a:hover, #nav .nav-menu li.current_page_ancestor a, #nav .nav-menu li.current_page_item a {text-decoration: none;border-bottom: 4px solid #6f26ff;}
.videos .video-link {font-weight: 700;}
.video-link .play-btn {max-width: 228px;width: 100%;left: 50%;top: 50%;padding: 0;}
.video-link .play-btn:after {position: absolute;background: url("//webcdn.triongames.com/rift/img/media/play-btn.png") no-repeat;background-size: initial;height: 92px;max-width: 92px;padding-bottom: 0;width: 100%;left: -46px;top: -46px;}
.video-link .play-btn:hover {opacity: 1;}
#content ul.media li.thumb .play-btn {padding: 24.9% 48.9%;}
.c12 .entry-content img, .feature-img img {-webkit-box-shadow: 0 1px 4px 2px rgba(27,27,27,.65);box-shadow: 0 1px 4px 2px rgba(27,27,27,.65);}
.entry-content img.noborder {border: 0;box-shadow: none;}
.featureItem .captionWrap {color: #fff;}
.featureItem .captionWrap span {margin: 0;float: left;clear: both;padding: 6px 10px;font-size: .9em;font-family: "Open Sans",serif;background-color: #111;background: linear-gradient(to bottom,#111 0,#111 100%);color: #ccc;text-transform: uppercase;}
.featureItem .captionWrap em {font-family: Cinzel,serif;font-size: 1.2em;background-color: #6f26ff;background: linear-gradient(to bottom,#6f26ff 0,#5925c2 100%);padding: 5px 10px;border: 1px solid #9068e7;}
.community .featureItem .captionWrap em {border: none;background: linear-gradient(to bottom,#6f26ff 0,#6f26ff 100%);}
.sitemap ul li {padding: .1em 0;margin-right: 0;}
.sitemap ul li a, a.morelink {color: #fff;font-family: Cinzel,serif;}
.sitemap ul li a:hover, a.morelink:hover {box-shadow: inset 0 0 0 #fff,inset 0 -3px 0 #6f26ff;}
.sitemap ul li a {text-transform: none;font-size: 1.1em;background: url("//webcdn.triongames.com/rift/img/small-arrow.png") right top no-repeat;padding-right: 20px;}
.language-de .sitemap ul li a {font-size: 1em;}
.nav-links .nav-next a span, .nav-links .nav-previous a span {color: #6f26ff;font-family: Cinzel,serif;}
.nav-links .nav-next a, .nav-links .nav-previous a {color: #fff;font-family: Cinzel,serif;background: url("//webcdn.triongames.com/rift/img/small-arrow-prev.png") left top no-repeat;padding-left: 10%;}
.single .nav-links a:first-child {float: left;background: url("//webcdn.triongames.com/rift/img/small-arrow-prev.png") left top no-repeat;padding-left: 4%;}
.nav-links .nav-next a, .single .nav-links a:last-child {background: url("//webcdn.triongames.com/rift/img/small-arrow.png") right top no-repeat;}
.single .nav-links a:last-child {float: right;padding-right: 4%;}
.nav-links .nav-next a {padding-left: 0;padding-right: 10%;}
.nav-links .nav-next a:hover, .nav-links .nav-previous a:hover {color: #fff;border-bottom: 4px solid #6f26ff;}
.nav-links .nav-next a, .nav-links .nav-previous a, .sitemap ul li, a.morelink, h4, h5 {font-family: "Open Sans",arial,sans-serif;font-weight: 700;}
.featureItem .captionWrap img[alt=Twitch] {width: 30px;height: 100%;}
#slider ul.slides li {box-shadow: none;}
div#carousel .flex-viewport {top: -88px;margin-bottom: -88px;}
#carousel.flexslider ul.slides li {width: 152px !important;height: 88px;}
#carousel ul li img {border: 1px solid #999;margin: 1px;}
#carousel ul li.flex-active-slide a img {border: 1px solid #6f26ff;margin: 1px 1px 1px 0;}
#carousel ul li:hover img {border: 1px solid #73f;margin: 1px 1px 1px 0;}
#carousel ul li.active a:before, #carousel ul li:hover:before {-webkit-box-shadow: inset 0 -4px 0 0 #ffff36;-moz-box-shadow: inset 0 -4px 0 0 #ffff36;box-shadow: inset 0 -4px 0 0 #ffff36;}
#carousel li .detail-overlay .title-overlay {background: #111;}
#carousel li .detail-overlay .learnmore-overlay {background: #6f26ff;background: linear-gradient(to bottom,#6f26ff 0,#6f26ff 100%) rgba(0,0,0,0);}
#carousel li .detail-overlay .learnmore-overlay, #carousel li .detail-overlay .title-overlay {font-family: Cinzel,Georgia,Times,serif;font-size: .85em;font-weight: 400;}
#slider .hslide_box .hslide_copy, #slider .hslide_box .hslide_cta a, #slider .hslide_box .hslide_header {font-family: Cinzel,serif;}
.entry-date, .featureItem~p strong, .read-more, .store-intro {font-weight: 700;}
.language-de #carousel li .detail-overlay .learnmore-overlay, .language-de #carousel li .detail-overlay .title-overlay, .language-fr #carousel li .detail-overlay .learnmore-overlay, .language-fr #carousel li .detail-overlay .title-overlay {font-size: .65em;}
div.flexslider .flex-direction-nav .flex-nav-next, div.flexslider .flex-direction-nav .flex-nav-prev {top: 88%;width: 14%;}
div#slider.flexslider ul.flex-direction-nav .flex-nav-next, div#slider.flexslider ul.flex-direction-nav .flex-nav-prev {max-width: 75px;}
div#slider.flexslider ul.flex-direction-nav .flex-nav-next {margin-right: 1.2%;}
div#slider.flexslider ul.flex-direction-nav .flex-nav-next a.flex-next, div#slider.flexslider ul.flex-direction-nav .flex-nav-prev a.flex-prev {background: url("//webcdn.triongames.com/rift/img/rift-sprite2.png") 0 43.90244% no-repeat;opacity: .5;background-size: 320% 373.33333%;height: 0;max-width: 75px;padding-bottom: 100%;width: 100%;}
div#slider.flexslider ul.flex-direction-nav .flex-nav-next a.flex-next {background-position: 45.45455% 43.90244%;}
div#slider.flexslider ul.flex-direction-nav .flex-nav-prev a:hover.flex-prev {background-position: 0 43.90244%;opacity: 1;}
div#slider.flexslider ul.flex-direction-nav .flex-nav-next a:hover.flex-next {background-position: 45.45455% 43.90244%;opacity: 1;}
#carousel.flexslider ul li a:hover:before, div#carousel.flexslider ul li.flex-active-slide a:before {z-index: 1;-webkit-box-shadow: 0 -4px 0 0 #6f26ff inset;-moz-box-shadow: 0 -4px 0 0 #6f26ff inset;-o-box-shadow: 0 -4px 0 0 #6f26ff inset;box-shadow: 0 -4px 0 0 #6f26ff inset;margin: 0 -1px 0 1px;}
#carousel.flexslider .slides>li a, #carousel.flexslider .slides>li.flex-active-slide a {-webkit-box-shadow: inset 0 0 0 2px #fff;-moz-box-shadow: inset 0 0 0 2px #fff;-o-box-shadow: inset 0 0 0 2px #fff;box-shadow: inset 0 0 0 2px #fff;background: #6f26ff;}
#carousel.flexslider .slides>li.flex-active-slide a, #carousel.flexslider .slides>li:hover a {-webkit-box-shadow: inset 0 0 0 2px #fff;-moz-box-shadow: inset 0 0 0 2px #fff;-o-box-shadow: inset 0 0 0 2px #fff;box-shadow: inset 0 0 0 2px #fff;background: #9779f2;}
.entry-content .flexslider ul {padding: 0;}
.c12 .entry-content .cycle-slideshow img, .c12 .entry-content .flexslider img {box-sizing: border-box;z-index: -1;width: 100%;height: auto;display: block;-webkit-box-shadow: none;box-shadow: none;border: none;padding: 0;}
.c12 .entry-content .flexslider .flex-caption, .custom-caption {z-index: 100;color: #fff;vertical-align: top;overflow: auto;font-size: 1.065em;}
.flexslider.pager .slides li {position: relative;padding: 8px;width: 100%;margin-bottom: 0;}
.flexslider.pager .slides li.flex-active-slide img {background-color: rgba(255,255,255,.25);}
.flexslider.pager .slides li:hover img {background-color: #6f26ff;}
.c12 .entry-content .flexslider .flex-caption {border-bottom: none;background: rgba(85,85,85,.35);display: block;padding: 1.6%;margin-top: 1em;min-height: 135px;}
.flexslider.pager .slides li img {cursor: pointer;background-color: rgba(85,85,85,.35);padding: 8px;}
div.flexslider.pager {padding: 0 55px;}
div.flexslider.pager .flex-direction-nav {display: none;}
.page div.flexslider .flex-direction-nav .flex-nav-next, .page div.flexslider .flex-direction-nav .flex-nav-prev {width: 45px;top: auto;bottom: -80px;}
div.flexslider .flex-direction-nav .flex-next, div.flexslider .flex-direction-nav .flex-prev {opacity: .5;background: url("//webcdn.triongames.com/rift/img/rift-sprite2.png") 10.25641% 4.65116% no-repeat;background-size: 533.33333% 430.76923%;padding-bottom: 144.44444%;display: block;text-indent: -9999px;}
div.flexslider .flex-direction-nav .flex-next:hover, div.flexslider .flex-direction-nav .flex-prev:hover {opacity: 1;}
div.flexslider.main {position: relative;display: table;}
ul.flex-direction-nav {display: table-row;}
ul.flex-direction-nav .flex-nav-next .flex-next {background-position: 48.71795% 4.65116%;}
.custom-caption h3, .flex-caption h3 {color: #fff;line-height: 1.37em;margin-bottom: .5em;margin-top: 0;}
.custom-caption {border-bottom: 4px solid #ffff10;position: absolute;background: #559c40;display: block;top: 0;padding: 1.6%;margin-top: 0;width: 30.107%;margin-left: 2.18%;max-height: 310px;}
#slider .hslide_box {background: rgba(61,44,95,.7);}
#slider .hslide_box .hslide_header {color: #ebebeb;}
#slider .hslide_box .hslide_copy {color: #9779f2;}
#slider .hslide_box .hslide_cta {color: #fff;}
#slider .hslide_box .hslide_cta a {box-shadow: 0 1px 2px 0 rgba(0,0,0,.9);color: #fff;border: 1px solid #a172ff;background: #6e36df;background: -moz-linear-gradient(top,rgba(110,54,223,1) 0,rgba(92,40,195,1) 100%);background: -webkit-linear-gradient(top,rgba(110,54,223,1) 0,rgba(92,40,195,1) 100%);background: linear-gradient(to bottom,rgba(110,54,223,1) 0,rgba(92,40,195,1) 100%);}
#slider .hslide_box .hslide_cta a:hover {filter: brightness(1.05);}
h4#cleric, h4#mage, h4#primalist, h4#rogue, h4#warrior {padding-left: 60px;padding-top: 5px;margin: .8em 0;height: 50px;font-family: Cinzel,serif;font-size: 2.5em;}
h4#warrior {background: url("//webcdn.triongames.com/rift/img/souls/warrior.png") no-repeat;}
h4#rogue {background: url("//webcdn.triongames.com/rift/img/souls/rogue.png") no-repeat;}
h4#cleric {background: url("//webcdn.triongames.com/rift/img/souls/cleric.png") no-repeat;}
h4#mage {background: url("//webcdn.triongames.com/rift/img/souls/mage.png") no-repeat;}
h4#primalist {background: url("//webcdn.triongames.com/rift/img/souls/primalist.png") no-repeat;}
.entry-title {margin: .5em 0 0;}
h2.entry-title a {color: #9779f2 !important;}
.entry-date {color: #fff;font-size: 15px;}
.page-faqrift p {color: #b2b2b2;}
.page-faqrift strong {color: #fff;}
.storeHeader {background: url("//webcdn.triongames.com/archeage/img/store/storeHeaderBG.jpg") no-repeat;background-size: 100% 100%;height: 0;max-width: 1140px;padding-bottom: 34.03509%;width: 100%;}
.storeHeader .storeCTA {width: 33%;margin: 1%;padding: 1%;float: left;background: url("/archeage/wp-content/uploads/sites/6/2014/09/aa-header-bg1.png") top;border-bottom: 4px solid #6f26ff;}
.storeHeader .storeCTA p {color: #fff;}
#patron img {border-bottom: none;}
.page-template-page-store-php h2:nth-child(1) {color: #47281c;}
.page-template-page-store-php .subscription .prices.center {width: 100%;}
.page-template-page-store-php .subscription .prices {margin-top: 0;top: 130px;}
.page-template-page-store-php .subscription img {-webkit-box-shadow: none;box-shadow: none;border-bottom: none;}
.page-template-page-store-php .subscription p {top: 0;font-size: 20px;font-weight: 700;}
.page-template-page-store-php .subscription p strong {top: 52px;position: absolute;left: 0;font-size: 48px;margin: 0 auto;width: 100%;}
.page-template-page-store-php .subscription .buy-container {position: relative;margin: 0 auto;text-align: center;}
.page-template-page-store-php .subscription strong, .price strong {font-size: 3em;color: #4c7889 !important;line-height: 1em;}
.entry-content dl, .entry-content ul {list-style-position: outside;font-size: 15px;}
.featureItem~p strong {color: #47281c;}
.page-template-page-store-php a {text-decoration: underline;text-transform: uppercase;}
.page-template-page-store-php #header a {text-decoration: none;}
.entry-content ul {padding: 0 0 0 3em;margin: 0;color: #d9d9d9;}
.entry-content ul li {font-weight: 400;margin-bottom: .5em;}
.entry-content ul li p {font-weight: 400;margin-left: -20px;}
.entry-content dl {padding: 0;margin: 0;color: #47281c;}
.entry-content dd {margin: 0;}
.box {border-bottom: 4px solid #6f26ff;}
#gnav-2013 a, footer .copyrights p, footer .legal #change-region span, footer .legal a, footer .region-selector ul.region-selector-container li.column h3, footer .region-selector ul.region-selector-container li.column ul li a, footer .region-selector ul.region-selector-container li.column ul li a:visited {font-family: arial,verdana,sans-serif;text-transform: none;}
.cookie-compliance-message p, .hide-cookie-compliance {font-family: arial,sans-serif;}
.hide-cookie-compliance {background-color: #ccc;}
.blog .post, .blog .videos, .page-template-page-community-php .post {border-top: 1px solid rgba(255,255,255,.2);border-bottom: none;margin: 1% 0;}
.g12.g640_6 hr:after {left: 10px;}
.page-template-page-store-php ol:after {width: calc(100% + 35px);left: -35px;margin: -10px 0;}
.clear+.g12.g640_6 {margin: 10px 0 25px;}
.page-template-page-store-php ol {border-top: transparent !important;border-bottom: transparent !important;}
.subscription:after {display: block;width: 1px;height: 100%;position: absolute;right: 0;top: 0;background-color: #b4b1aa;}
@media only screen and (max-width:1396px) {#header a {font-size: .9em;font-weight: 700;font-family: Cinzel,serif;}
	#header .social-links li {margin: 9% 0 0;}
	#header .social-links a {width: 17px;height: 17px;margin: 23%;}
	#slideshow-1c .cycle-slide-active, #slideshow-2c:hover {-webkit-box-shadow: inset -6px 0 0 0 #212121,inset 0 -4px 0 0 #6f26ff;-moz-box-shadow: inset -6px 0 0 0 #212121,inset 0 -4px 0 0 #6f26ff;box-shadow: inset -6px 0 0 0 #212121,inset 0 -4px 0 0 #6f26ff;}
	a.ego-widget {margin-left: 52px;max-width: 313px;padding-bottom: 21%;}}
@media only screen and (max-width:959px),only screen and (max-device-width:1024px) and (min-device-width:768px) and (orientation:landscape) {.pack-list>div[class*=pack] p {display: none;}}
@media only screen and (max-width:976px),only screen and (min-device-width :768px) and (max-device-width :1024px) and (orientation :landscape) {.language-fr #header a {font-size: .9em !important;}
	#slider .controls .prev {left: 0;}
	#slider .controls .next {right: 0;}
	#slider .controls .next a, #slider .controls .prev a {width: 65%;padding-bottom: 46.369427%;}
	#slider .controls .prev a {float: left;}
	#slider .controls .next a {float: right;}
	.buy-now-cta, .play-now-cta {width: 100%;margin-top: 0;max-width: 206px;}
	.blog .index-header, .search .page-header {background: 0 0;height: auto;padding: 0;}
	.blog .index-header h1, .search .page-header h1 {margin: 1% 0;}
	#header .social-links li {margin: 12% 0 0;width: 25%;}
	.storeHeader {padding-bottom: 0;height: auto;}
	.anchor>span {font-size: 21px;line-height: 25px;}
	[class^=starter-pack--type] p {font-size: 17px;line-height: 25px;padding: 2px 16px 16px;}
	.alt-pack--item p {background-image: linear-gradient(to bottom,rgba(94,79,62,0) 30%,rgba(94,79,62,1));}
	.alt-pack--info h3 {font-size: 32px;line-height: 37px;}
	.alt-pack--info {background-color: rgba(94,79,62,1);}
	[lang*=de] .pack--info-L h5 {font-size: 16px;top: 0;}
	.patron-cta p {font-size: 15px;}
	.cta:active {transform: translate(-50%,2px);-webkit-transform: translate(-50%,2px);}
	.feature-pack-l {width: 100%;float: none;padding: 45% 25px 0 0;}
	.feature-pack-r {width: 100%;padding-bottom: 45%;height: 0;}
	[class^=starter-pack--type]:after {height: 100%;}
	.starter-pack--info {height: 90px;}}
@media only screen and (max-width:785px) and (orientation :portrait),only screen and (max-width:784px) {#carousel.flexslider .slides>li a, #carousel.flexslider .slides>li.flex-active-slide a, #carousel.flexslider .slides>li:hover a {-webkit-box-shadow: inset 0 0 0 1px #fff;-moz-box-shadow: inset 0 0 0 1px #fff;-o-box-shadow: inset 0 0 0 1px #fff;box-shadow: inset 0 0 0 1px #fff;}
	.nav-links .nav-next, .nav-links .nav-previous {padding: 0;left: 0;}
	.nav-links .nav-next a, .nav-links .nav-previous a {padding-left: 1.6em;}
	#header h1.logo {margin-top: 0;}
	.storeHeader .storeCTA {width: 96%;}
	.redeem-promo-banner {background-size: contain;}
	#slideshow-1 .custom-caption {position: relative;width: 98%;left: 0;}
	#header .social-links li {margin: 10px 0 0;width: 40px;}
	#site-navigation label {background: 0 0;text-shadow: 0 1px 0 #ccc;color: #fff;}
	#site-navigation .nav-menu ul li a:hover, #site-navigation .nav-menu ul li.current_page_ancestor a, #site-navigation .nav-menu ul li.current_page_item a {border-color: rgba(255,255,255,.1);}
	.sect-title {background-position: left 0 bottom 30px;padding: 35px 0 42px;font-size: 3em;}
	.alt-pack--info h3 {font-size: 25px;line-height: 38px;}
	.alt-pack--info h5 {font-size: 18px;}
	.language-fr .alt-pack--info .info-btn-2 {font-size: 13px;}}
@media all and (max-width:650px) {a.back-to-top span {display: none;}}
@media only screen and (max-width:496px) {.subscription .buy-now-cta {display: block;}
	.buy-now-cta, .play-now-cta {width: 43%;top: -44px;position: absolute;float: none;right: 5px;display: block;}
	#header #nav {width: auto;position: relative;top: 0;padding: 0;}
	#header h1.logo {padding-left: 20%;width: 102px;padding-right: 0;float: left;margin-top: 0;}
	#site-navigation label {top: -31px;}
	h2, h2.entry-title {line-height: 2em;}
	.fancybox-inner {min-height: 100px !important;}
	a.sidebar-redeem-btn {max-width: none;}
	a.sidebar-redeem-btn span {right: 0;}
	.alt-pack--info h3 {line-height: 43px;margin-bottom: -16px;}}
@media only screen and (max-width:461px) {.pack-list>ul li {height: 108px;}
	.redeem-promo-banner {display: none;}}